{% block swag_migration_wizard %}
    <div class="swag-migration-wizard">
        <sw-modal v-if="showModal"
                  class="swag-migration-wizard__modal"
                  :size="modalSize"
                  :title="$tc(modalTitleSnippet)"
                  :isLoading="isLoading"
                  @modal-close="onCloseModal">

            {% block swag_migration_wizard_placeholder %}
                <div v-show="isLoading || childIsLoading" class="swag-migration-wizard__placeholder"></div>
            {% endblock %}

            {% block swag_migration_router_view %}
                {% if VUE3 %}
                    <router-view v-slot="{ Component }">
                        <component
                            :is="Component"
                            v-show="!isLoading && !childIsLoading"
                            :currentConnectionId="connection.id"
                            :profileInformationComponent="profileInformationComponent"
                            :credentialsComponent="credentialsComponent"
                            :credentials="connection.credentialFields"
                            :errorMessageSnippet="errorMessageSnippet"
                            :connectionNameErrorCode="connectionNameErrorCode"
                            @onChildRouteReadyChanged="onChildRouteReadyChanged"
                            @onTriggerPrimaryClick="triggerPrimaryClick"
                            @onProfileSelected="onProfileSelected"
                            @onChangeConnectionName="onChangeConnectionName"
                            @onConnectionSelected="onConnectionSelected"
                            @onCredentialsChanged="onCredentialsChanged"
                            @onIsLoadingChanged="onChildIsLoadingChanged"
                        ></component>
                    </router-view>
                {% else %}
                    <router-view
                        v-show="!isLoading && !childIsLoading"
                        :currentConnectionId="connection.id"
                        :profileInformationComponent="profileInformationComponent"
                        :credentialsComponent="credentialsComponent"
                        :credentials="connection.credentialFields"
                        :errorMessageSnippet="errorMessageSnippet"
                        :connectionNameErrorCode="connectionNameErrorCode"
                        @onChildRouteReadyChanged="onChildRouteReadyChanged"
                        @onTriggerPrimaryClick="triggerPrimaryClick"
                        @onProfileSelected="onProfileSelected"
                        @onChangeConnectionName="onChangeConnectionName"
                        @onConnectionSelected="onConnectionSelected"
                        @onCredentialsChanged="onCredentialsChanged"
                        @onIsLoadingChanged="onChildIsLoadingChanged"
                    ></router-view>
                {% endif %}
            {% endblock %}

            <template class="swag-migration-wizard__footer" #modal-footer>
                {% block swag_migration_wizard_footer %}
                    {% block swag_migration_wizard_arrow %}
                        <div class="swag-migration-wizard__left-actions">
                            <sw-button v-show="buttonBackVisible"
                                       class="swag-migration-wizard__buttonBack"
                                       size="small"
                                       @click="onButtonBackClick">
                                {{ $tc(buttonBackSnippet) }}
                            </sw-button>
                        </div>
                    {% endblock %}

                    {% block swag_migration_wizard_actions %}
                        <div class="swag-migration-wizard__right-actions">

                            {% block swag_migration_wizard_actions_previous %}
                                <sw-button v-show="buttonSecondaryVisible"
                                           size="small"
                                           @click="onButtonSecondaryClick">
                                    {{ $tc(buttonSecondarySnippet) }}
                                </sw-button>
                            {% endblock %}

                            {% block swag_migration_wizard_actions_next %}
                                <sw-button size="small"
                                           variant="primary"
                                           :disabled="buttonPrimaryDisabled"
                                           @click="onButtonPrimaryClick">
                                    {{ $tc(buttonPrimarySnippet) }}
                                </sw-button>
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endblock %}
            </template>
        </sw-modal>
    </div>
{% endblock %}
