@import "~scss/variables";

$swag-migration-premapping-bubble-background-color: #E7F9E9;
$swag-migration-premapping-success-icon-color: $color-emerald;
$swag-migration-premapping-caption-color: #B3BFCC;

.swag-migration-premapping {
    .swag-migration-premapping__success-card {
        text-align: center;
        font-size: 14px;
    }

    .swag-migration-premapping__success-bubble {
        margin: 12px auto 20px auto;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: $swag-migration-premapping-bubble-background-color;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swag-migration-premapping__success-icon {
        color: $swag-migration-premapping-success-icon-color;
    }

    .swag-migration-premapping__success-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .swag-migration-premapping__success-caption {
        color: $swag-migration-premapping-caption-color;
        margin-bottom: 45px;
    }

    .swag-migration-premapping__loading-card {
        text-align: center;
        font-size: 14px;
    }

    .swag-migration-premapping__loading-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .swag-migration-premapping__loading-caption {
        color: $swag-migration-premapping-caption-color;
        margin-bottom: 45px;
    }

    .sw-loader.swag-migration-premapping__loader {
        position: relative;
        margin: 12px auto 42px auto;

        .sw-loader__container {
            transform: translate(-50%);
        }
    }

    .swag-migration-premapping__unfilled-alert {
        max-width: 800px;
        margin: 0 auto 40px auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .sw-alert__icon {
        top: 25px;
    }

    .swag-migration-premapping__filled-tab-card {
        margin-top: 40px;
    }

    .swag-migration-premapping__unfilled-card {
        text-align: center;
        font-size: 14px;
    }

    .swag-migration-premapping__unfilled-title {
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .swag-migration-premapping__unfilled-caption {
        color: $swag-migration-premapping-caption-color;
        margin-bottom: 10px;
    }

    .swag-migration-premapping__tab-card {
        font-size: 14px;
    }

    .swag-migration-premapping__tab-card-item {
        font-size: 14px;
    }

    .sw-grid__cell-label {
        font-size: 14px;
    }
}