{% block swag_migration_flow_item %}
    <div class="swag-migration-flow-item" :class="modifierClasses">
        {% block swag_migration_flow_item_bubble %}
            <div class="swag-migration-flow-item__bubble">
                <sw-icon class="swag-migration-flow-item__icon"
                         :name="icon"
                         size="16px"
                         small>
                </sw-icon>
            </div>
        {% endblock %}
        {% block swag_migration_flow_item_description %}
            <span class="swag-migration-flow-item__description">
                <slot></slot>
            </span>
        {% endblock %}
    </div>
{% endblock %}