{% block swag_migration_loading_screen_warning %}
    <sw-card :title="$tc('swag-migration.index.loadingScreenCard.result.warning.title')"
             class="swag-migration-loading-screen-warning">
        {% block swag_migration_loading_screen_warning_content %}
            <div class="swag-migration-loading__content">
                {% block swag_migration_loading_screen_warning_information %}
                    <div class="content__information">
                        {% block swag_migration_loading_screen_warning_title %}
                            <h3 class="information__header">
                                {{ $tc('swag-migration.index.loadingScreenCard.result.warning.contentTitle') }}
                            </h3>
                        {% endblock %}

                        {% block swag_migration_loading_screen_warning_svg %}
                            <img class="swag-index-svg" :src="'/swagmigrationnext/static/img/step-4-2.svg' | asset">
                        {% endblock %}

                        {% block swag_migration_loading_screen_warning_hint %}
                            <sw-alert variant="warning">
                                <p class="information__alert-header">{{ $tc('swag-migration.index.loadingScreenCard.result.warning.hintTitle') }}</p>
                                {{ $tc('swag-migration.index.loadingScreenCard.result.warning.hintContent') }}
                                {% block swag_migration_loading_screen_warning_hint_errors %}
                                    <div v-if="errorList.length > 0">
                                        {% block swag_migration_loading_screen_warning_hint_errors_title %}
                                            <p class="information__list-header">{{ $tc('swag-migration.index.loadingScreenCard.result.warning.warningListTitle', errorList.length, { count: errorList.length }) }}:</p>
                                        {% endblock %}
                                        {% block swag_migration_loading_screen_warning_hint_errors_list %}
                                            <ul class="information__list">
                                                <li v-for="error in errorList">
                                                    {{ (error.snippetName !== $t(error.snippetName, error.details)) ? $t(error.snippetName, error.details) : $t('swag-migration.index.error.unknownError') }}
                                                </li>
                                            </ul>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </sw-alert>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-card>
{% endblock %}
