{% block swag_breadcrumb %}
    <ul class="swag-breadcrumb">
        {% block swag_breadcrumb_description %}
            <span class="swag-breadcrumb-description">
                {{ description }}
            </span>
        {% endblock %}

        {% block swag_breadcrumb_template %}
            <li class="swag-breadcrumb__item"
                v-for="(item, index) in items"
                :key="index">
                {% block swag_breadcrumb_seperator %}
                    <sw-icon :name="separatorIcon"
                             :size="separatorIconSize"
                             v-if="index !== 0 && items.length > 0">
                    </sw-icon>
                {% endblock %}

                {% block swag_breadcrumb_item %}
                    {{ item }}
                {% endblock %}
            </li>
        {% endblock %}
    </ul>
{% endblock %}