{% block swag_migration_pause_screen %}
    <sw-card class="swag-migration-pause-screen">

        {% block swag_migration_pause_screen_content %}
            <div class="swag-migration-pause-screen__content">

                {% block swag_migration_pause_screen_content_icon %}
                    <div class="swag-migration-pause-screen__icon-wrapper">
                        <sw-icon name="default-object-sofa" color="#189eff" large></sw-icon>
                    </div>
                {% endblock %}

                {% block swag_migration_pause_screen_content_title %}
                    <h5 class="swag-migration-pause-screen__title">
                        {{ $tc('swag-migration.index.loadingScreenCard.pauseScreen.title') }}
                    </h5>
                {% endblock %}

                {% block swag_migration_pause_screen_content_message %}
                    <p class="swag-migration-pause-screen__content-message">
                        {{ $tc('swag-migration.index.loadingScreenCard.pauseScreen.message') }}
                    </p>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-card>
{% endblock %}
