{% block swag_migration_wizard_page_4_error %}
<div class="swag-migration-wizard swag-migration-wizard-page-4-error">
    {% block swag_migration_wizard_page_4_error_content %}
    <div class="swag-migration-wizard__content">
        {% block swag_migration_wizard_page_4_error_information %}
        <div class="content__information">
            {% block swag_migration_wizard_page_4_error_title %}
            <h3 class="information__header">
                {{ $tc('sw-migration.wizard.pages.4.error.contentTitle') }}
            </h3>
            {% endblock %}

            {% block swag_migration_wizard_page_4_error_svg %}
            <swag-svg-step4-error></swag-svg-step4-error>
            {% endblock %}

            {% block swag_migration_wizard_page_4_error_api_hint %}
            {{ $tc('sw-migration.wizard.pages.4.error.contentInformation') }}
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}

    {% block swag_migration_wizard_page_4_error_alert %}
    <sw-alert variant="warning" id="alert-error-message">
        <strong>{{ $tc('sw-migration.wizard.pages.4.error.alertErrorTitle') }}</strong> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </sw-alert>
    {% endblock %}
</div>
{% endblock %}