{% block swag_migration_loading_screen %}
    <sw-card class="swag-migration-loading-screen" :title="title">

        {% block swag_migration_index_loading_screen_title %}
            <div class="swag-migration-loading-screen-title">
                {{ statusLong }}
            </div>
        {% endblock %}

        {% block swag_migration_index_loading_screen_progress_bar_group %}
            <div class="swag-migration-loading-screen-progress-bar-group"
                 :style="{ 'grid-template-columns': progressBarContainerGridStyle }">
                <div v-for="bar in progressBars">
                    {% block swag_migration_index_loading_screen_progress_bar %}
                        <sw-progress-bar :value="bar.value"></sw-progress-bar>
                    {% endblock %}

                    {% block swag_migration_index_loading_screen_progress_bar_title %}
                        <div class="swag-migration-loading-screen-progress-bar-title">
                            {{ bar.title }}
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block swag_migration_loading_screen_loader %}
            <sw-loader class="swag-migration-loading-screen-loader"></sw-loader>
        {% endblock %}

        {% block swag_migration_loading_screen_status %}
            <div class="swag-migration-loading-screen-status">
                {{ statusShort }}
            </div>
        {% endblock %}

        {% block swag_migration_index_loading_screen_alert %}
            <sw-alert variant="info">
                <strong>{{ $tc('swag-migration.index.loadingScreenCard.hintTitle') }} </strong>{{ $tc('swag-migration.index.loadingScreenCard.hint') }}
            </sw-alert>
        {% endblock %}
    </sw-card>
{% endblock %}