{% block swag_migration_loading_screen_success %}
    <sw-card :title="$tc('swag-migration.index.loadingScreenCard.result.success.title')"
             class="swag-migration-loading-screen-success">
        {% block swag_migration_loading_screen_success_content %}
            <div class="swag-migration-loading__content">
                {% block swag_migration_loading_screen_success_information %}
                    <div class="content__information">
                        {% block swag_migration_loading_screen_success_title %}
                            <h3 class="information__header">
                                {{ $tc('swag-migration.index.loadingScreenCard.result.success.contentTitle') }}
                            </h3>
                        {% endblock %}

                        {% block swag_migration_loading_screen_success_svg %}
                            <swag-svg-wizard-credentials-success></swag-svg-wizard-credentials-success>
                        {% endblock %}

                        {% block swag_migration_loading_screen_success_hint %}
                            <sw-alert variant="success"
                                      :title="$tc('swag-migration.index.loadingScreenCard.result.success.hintTitle')">
                                {{ $tc('swag-migration.index.loadingScreenCard.result.success.hintContent') }}
                            </sw-alert>
                        {% endblock %}

                        {% block swag_migration_loading_screen_success_button_back %}
                            <sw-button @click="$emit('onClickBack')">
                                {{ $tc('swag-migration.index.finishButton') }}
                            </sw-button>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-card>
{% endblock %}
