.swag-migration-loading-screen-success {
    .swag-migration-loading__content {
        margin: 0 auto;
        .content__information {
            text-align: center;

            .information__header {
                margin-bottom: 40px;
                margin-top: 30px;
            }

            .swag-index-svg {
                height: 150px;
            }

            .sw-alert--success {
                margin-top: 50px;
                margin-bottom: 30px;
            }
        }
    }
}