.swag-migration-loading-screen-success {
    .swag-migration-loading__content {
        margin: 40px auto;
        .content__information {
            text-align: center;

            .information__header {
                margin-bottom: 40px;
            }

            .swag-index-svg {
                height: 150px;
                margin-bottom: 40px;
                width: 100%;
            }
        }
    }
}