{% block swag_migration_loading_screen_takeover %}
    <sw-card class="swag-migration-loading-screen-takeover" :isLoading="isLoading">

        {% block swag_migration_loading_screen_takeover_content %}
            <div class="swag-migration-loading-screen-takeover__content">

                {% block swag_migration_loading_screen_takeover_content_icon %}
                    <div class="swag-migration-loading-screen-takeover__icon-wrapper">
                        <sw-icon name="default-communication-speech-bubble" color="#189EFF" large></sw-icon>
                    </div>
                {% endblock %}

                {% block swag_migration_loading_screen_takeover_content_title %}
                    <h5 class="swag-migration-loading-screen-takeover__title">
                        {{ $tc(titleSnippet) }}
                    </h5>
                {% endblock %}

                {% block swag_migration_loading_screen_takeover_content_message %}
                    {{ $tc(messageSnippet) }}
                {% endblock %}

                {% block swag_migration_loading_screen_takeover_hint %}
                    <div class="swag-migration-loading-screen-takeover__actions">
                        <sw-button v-if="state !== possibleState.ABORTED && !isTakeoverForbidden"
                                   variant="ghost"
                                   @click="onCheckButtonClick">
                            {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.buttonCheck') }}
                        </sw-button>
                        <sw-button v-if="state === possibleState.ABORTED"
                                   variant="ghost"
                                   @click="onRedirect">
                            {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.buttonRedirect') }}
                        </sw-button>
                    </div>
                {% endblock %}
            </div>

            {% block swag_migration_loading_screen_takeover_modal %}
                <sw-modal v-if="showTakeoverModal"
                          class="swag-migration-loading-screen-takeover__modal"
                          :title="$tc('swag-migration.index.loadingScreenCard.takeoverScreen.takeoverModal.title')"
                          variant="small"
                          @modal-close="onCloseTakeoverModal">

                    {% block swag_migration_loading_screen_takeover_modal_message %}
                        <p class="swag-migration-loading-screen-takeover__modal-message">
                            {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.takeoverModal.message') }}
                        </p>
                    {% endblock %}

                    {% block swag_migration_loading_screen_takeover_modal_hint %}
                        <p class="swag-migration-loading-screen-takeover__modal-hint">
                            {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.takeoverModal.hint') }}
                        </p>
                    {% endblock %}

                    {% block swag_migration_loading_screen_takeover_modal_footer %}
                        <template #modal-footer>

                            {% block swag_migration_loading_screen_takeover_modal_footer_cancelAction %}
                                <sw-button size="small"
                                           @click="onCloseTakeoverModal">
                                    {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.takeoverModal.cancel') }}
                                </sw-button>
                            {% endblock %}

                            {% block swag_migration_loading_screen_takeover_modal_footer_confirmAction %}
                                <sw-button variant="primary"
                                           size="small"
                                           @click="onTakeover">
                                    {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.takeoverModal.confirm') }}
                                </sw-button>
                            {% endblock %}
                        </template>
                    {% endblock %}
                </sw-modal>
            {% endblock %}

            {% block swag_migration_loading_screen_abort_modal %}
                <sw-modal v-if="showAbortModal"
                          class="swag-migration-loading-screen-takeover__modal"
                          :title="$tc('swag-migration.index.loadingScreenCard.takeoverScreen.abortModal.title')"
                          variant="small"
                          @modal-close="onCloseAbortModal">

                    {% block swag_migration_loading_screen_abort_modal_message %}
                        <p class="swag-migration-loading-screen-takeover__modal-message">
                            {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.abortModal.message') }}
                        </p>
                    {% endblock %}

                    {% block swag_migration_loading_screen_abort_modal_hint %}
                        <p class="swag-migration-loading-screen-takeover__modal-hint">
                            {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.abortModal.hint') }}
                        </p>
                    {% endblock %}

                    {% block swag_migration_loading_screen_abort_modal_footer %}
                        <template #modal-footer>

                            {% block swag_migration_loading_screen_abort_modal_footer_cancelAction %}
                                <sw-button size="small"
                                           @click="onCloseAbortModal">
                                    {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.abortModal.cancel') }}
                                </sw-button>
                            {% endblock %}

                            {% block swag_migration_loading_screen_abort_modal_footer_confirmAction %}
                                <sw-button variant="primary"
                                           size="small"
                                           @click="onAbort">
                                    {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.abortModal.confirm') }}
                                </sw-button>
                            {% endblock %}
                        </template>
                    {% endblock %}
                </sw-modal>
            {% endblock %}

            {% block swag_migration_loading_screen_redirect_modal %}
                <sw-modal v-if="showRedirectModal"
                          class="swag-migration-loading-screen-takeover__modal"
                          :title="$tc('swag-migration.index.loadingScreenCard.takeoverScreen.redirectModal.title')"
                          variant="small"
                          @modal-close="onCloseRedirectModal">

                    {% block swag_migration_loading_screen_redirect_modal_message %}
                        <p class="swag-migration-loading-screen-takeover__modal-message">
                            {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.redirectModal.message') }}
                        </p>
                    {% endblock %}

                    {% block swag_migration_loading_screen_redirect_modal_footer %}
                        <template #modal-footer>
                            {% block swag_migration_loading_screen_redirect_modal_footer_confirmAction %}
                                <sw-button variant="primary"
                                           size="small"
                                           @click="onRedirect">
                                    {{ $tc('swag-migration.index.loadingScreenCard.takeoverScreen.redirectModal.confirm') }}
                                </sw-button>
                            {% endblock %}
                        </template>
                    {% endblock %}
                </sw-modal>
            {% endblock %}
        {% endblock %}
    </sw-card>
{% endblock %}
