@import "~scss/variables";

.swag-migration-loading-screen-takeover {
    .swag-migration-loading-screen-takeover__content {
        text-align: center;
        max-width: 520px;
        margin: 0 auto 0 auto;
        padding-top: 10px;
    }

    .swag-migration-loading-screen-takeover__icon-wrapper {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: $color-shopware-brand-50;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px auto;
    }

    h5.swag-migration-loading-screen-takeover__title {
        font-size: $font-size-large;
        font-weight: 600;
    }

    .swag-migration-loading-screen-takeover__content-message {
        font-size: $font-size-small;
    }

    .swag-migration-loading-screen-takeover__actions {
        margin-top: 24px;
    }
}

.swag-migration-loading-screen-takeover__modal {
    font-size: $font-size-small;
    line-height: 22px;
    text-align: center;
}

.swag-migration-loading-screen-takeover__modal-hint {
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
}