{% block swag_migration_pause_overlay %}
    <div class="swag-migration-pause-overlay">
        {% block swag_migration_pause_overlay_icon %}
            <div class="swag-migration-pause-overlay__bubble">
                <sw-icon size="40px" class="swag-migration-pause-overlay__icon swag-migration-pause-overlay__left-icon" name="small-default-minus-large" decorative></sw-icon>
                <sw-icon size="40px" class="swag-migration-pause-overlay__icon swag-migration-pause-overlay__right-icon" name="small-default-minus-large" decorative></sw-icon>
            </div>
        {% endblock %}
    </div>
{% endblock %}