{% block swag_migration_loading_screen_connection_lost %}
    <sw-card class="swag-migration-loading-screen-connection-lost">

        {% block swag_migration_loading_screen_connection_lost_content %}
            <div class="swag-migration-loading-screen-connection-lost__content">

                {% block swag_migration_loading_screen_connection_lost_content_icon %}
                    <div class="swag-migration-loading-screen-connection-lost__icon-wrapper">
                        <sw-icon name="default-badge-warning" color="#ffb75d" large></sw-icon>
                    </div>
                {% endblock %}

                {% block swag_migration_loading_screen_connection_lost_content_title %}
                    <h5 class="swag-migration-loading-screen-connection-lost__title">
                        {{ $tc('swag-migration.index.loadingScreenCard.connectionLostScreen.title') }}
                    </h5>
                {% endblock %}

                {% block swag_migration_loading_screen_connection_lost_content_message %}
                    <p class="swag-migration-loading-screen-connection-lost__content-message">
                        {{ $tc('swag-migration.index.loadingScreenCard.connectionLostScreen.message') }}
                    </p>
                {% endblock %}

                {% block swag_migration_loading_screen_connection_lost_hint %}
                    <div class="swag-migration-loading-screen-connection-lost__actions">
                        <sw-button variant="ghost"
                                   @click="onNavigateMainClick">
                            {{ $tc('swag-migration.index.loadingScreenCard.connectionLostScreen.buttonNavigateToMain') }}
                        </sw-button>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-card>
{% endblock %}
