{% block swag_migration_wizard_page_select_profile %}
    <div class="swag-migration-wizard swag-migration-wizard-page-select-profile">
        {% block swag_migration_wizard_page_select_profile_content %}
            <div class="swag-migration-wizard__content" v-if="!isLoading">
                {% block swag_migration_wizard_page_select_profile_information %}
                    <div class="content__information">
                        {% block swag_migration_wizard_page_select_profile_title %}
                            <h3 class="information__header">
                            </h3>

                            <sw-field type="select"
                                      :label="$tc('swag-migration.wizard.pages.selectProfile.profileLabel')"
                                      :placeholder="$tc('swag-migration.wizard.pages.selectProfile.profilePlaceholder')"
                                      v-model="selection.profile"
                                      @input="onSelectProfile"
                                      validation="required">
                                {% block swag_migration_wizard_page_select_profile_form_profile_field_options %}
                                    <option slot="options" v-for="profile in profiles" :value="profile">{{ profile }}</option>
                                {% endblock %}
                            </sw-field>

                            <sw-field type="select"
                                      :label="$tc('swag-migration.wizard.pages.selectProfile.gatewayLabel')"
                                      :placeholder="$tc('swag-migration.wizard.pages.selectProfile.gatewayPlaceholder')"
                                      v-model="selection.gateway"
                                      @input="onSelectGateway"
                                      validation="required">
                                {% block swag_migration_wizard_page_select_profile_form_gateway_field_options %}
                                    <option slot="options" v-for="gateway in gateways" :value="gateway">{{ gateway }}</option>
                                {% endblock %}
                            </sw-field>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}