variables:
    PLUGIN_NAME: SwagMigrationAssistant
    PLATFORM_BRANCH: '6.5.x'
    DEV_IMAGE: shopware/development:8.1-composer-2

include:
    project: 'shopware/6/product/platform'
    ref: '6.5.x'
    file: '.gitlab/templates/plugin.yml'

ecs:
  stage: test
  script:
    - composer ecs

phpunit:
  script:
    - php
      -d pcov.enabled=0 -d pcov.directory=$PWD -d pcov.exclude='~(vendor|tests|node_modules)~'
      ${PROJECT_ROOT}/vendor/bin/phpunit
      --configuration phpunit.xml.dist
      --log-junit ${CI_PROJECT_DIR}/phpunit.junit.xml
      --colors=never
      --coverage-cobertura ${CI_PROJECT_DIR}/cobertura.xml
      --coverage-text #| grep -v -E '^Shopware\\|^  Methods:' # do not output covered files lines

phpstan:
  script:
    - composer dump-autoload
    - php Test/TestBootstrap.php
    - ${PROJECT_ROOT}/vendor/bin/phpstan analyze --error-format=gitlab --no-progress | tee ${CI_PROJECT_DIR}/phpstan-report.json
