.idea
.vscode
coverage/
.phpunit.cache
.phpunit.result.cache
vendor
node_modules
phpstan.neon
*.hot-update.js
Test/testData
/var/
composer.lock
Resources/public/administration/
Resources/public/static/
