.idea
.vscode
coverage/
.phpunit.cache
.phpunit.result.cache
vendor
node_modules
phpstan.neon
*.hot-update.js
tests/testData
/var/
composer.lock
src/Resources/public/administration/
src/Resources/public/static/
.env
