# ide
.idea/
.vscode/

# llm
.claude
docs/superpowers

# os
.DS_Store

# node
node_modules/
*.hot-update.js

# php
vendor/
phpstan.neon
composer.lock
.phpunit.cache
.phpunit.result.cache

# tests
coverage/

# build
src/Resources/public/static/
src/Resources/public/administration/
src/Resources/app/administration/.tmp

# runtime
/var/
.env

# plugin
/migration_assistant.cache
/clover.xml
