includes:
	- phpstan-baseline.neon

parameters:
    level: 8
    tmpDir: var/cache/phpstan
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    symfony:
        constant_hassers: false
        # the placeholder "%ShopwareHashedCacheDir%" will be replaced on execution by bin/phpstan-config-generator.php script
        container_xml_path: '../../..%ShopwareHashedCacheDir%/Shopware_Development_KernelDevDebugContainer.xml'
    featureToggles:
        unusedClassElements: true
    excludes_analyse:
        - vendor
        - var
