@import "~scss/variables";

.swag-migration-assistant {
    h4.swag-migration-assistant__headline {
        color: var(--color-text-primary-default);
        font-size: var(--font-size-2xl);
        font-weight: var(--font-weight-medium);
        padding-top: var(--scale-size-10);
        text-align: center;
        margin: 0;
    }

    .swag-migration-assistant__paragraph {
        text-align: center;
        width: 80%;
        margin: var(--scale-size-80) auto 0 auto;

        &:first-of-type {
            margin-top: var(--scale-size-64);
        }

        &:last-of-type {
            margin-top: var(--scale-size-40);
        }

        img {
            width: var(--scale-size-128);
            display: block;
            margin: 0 auto;
            padding-bottom: var(--scale-size-16);
        }
    }

    h5.swag-migration-assistant__title {
        font-weight: var(--font-weight-semibold);
        margin-bottom: var(--scale-size-8);
        color: var(--color-text-primary-default);
    }

    .swag-migration-assistant__content {
        white-space: pre-line;
        color: var(--color-text-secondary-default);
    }
}
