{% block swag_migration_assistant %}
    <sw-card class="swag-migration-assistant"
             position-identifier="swag-migration-assistant"
             :title="$tc('swag-migration.index.assistantCard.title')">

        {% block swag_migration_assistant_headline %}
            <h4 class="swag-migration-assistant__headline">
                {{ $tc('swag-migration.index.assistantCard.headline') }}
            </h4>
        {% endblock %}

        {% block swag_migration_assistant_connection %}
            <div class="swag-migration-assistant__paragraph">

                {% block swag_migration_assistant_connection_illustration %}
                    <img class="swag-migration-assistant__illustration"
                         :src="assetFilter('/swagmigrationassistant/static/img/assistant-connection.svg')"
                         alt="">
                {% endblock %}

                {% block swag_migration_assistant_connection_title %}
                    <h5 class="swag-migration-assistant__title">
                        {{ $tc('swag-migration.index.assistantCard.connection.title') }}
                    </h5>
                {% endblock %}

                {% block swag_migration_assistant_connection_content %}
                    <p class="swag-migration-assistant__content">
                        {{ $tc('swag-migration.index.assistantCard.connection.content') }}
                    </p>
                {% endblock %}

                {% block swag_migration_assistant_connection_content_link %}
                    <div class="swag-migration-assistant__link">
                        <a class="link"
                           target="_blank"
                           href="http://docs.shopware.com/en/migration-en">
                            {{ $tc('swag-migration.index.assistantCard.connection.link') }}
                        </a>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block swag_migration_assistant_dataSelection %}
            <div class="swag-migration-assistant__paragraph">

                {% block swag_migration_assistant_dataSelection_illustration %}
                    <img class="swag-migration-assistant__illustration"
                         :src="assetFilter('/swagmigrationassistant/static/img/assistant-dataSelection.svg')"
                         alt="">
                {% endblock %}

                {% block swag_migration_assistant_dataSelection_title %}
                    <h5 class="swag-migration-assistant__title">
                        {{ $tc('swag-migration.index.assistantCard.dataSelection.title') }}
                    </h5>
                {% endblock %}

                {% block swag_migration_assistant_dataSelection_content %}
                    <p class="swag-migration-assistant__content">
                        {{ $tc('swag-migration.index.assistantCard.dataSelection.content') }}
                    </p>
                {% endblock %}
            </div>
        {% endblock %}

        {% block swag_migration_assistant_migrationOverview %}
            <div class="swag-migration-assistant__paragraph">

                {% block swag_migration_assistant_migrationOverview_illustration %}
                    <img class="swag-migration-assistant__illustration"
                         :src="assetFilter('/swagmigrationassistant/static/img/assistant-migrationOverview.svg')"
                         alt="">
                {% endblock %}

                {% block swag_migration_assistant_migrationOverview_title %}
                    <h5 class="swag-migration-assistant__title">
                        {{ $tc('swag-migration.index.assistantCard.migrationOverview.title') }}
                    </h5>
                {% endblock %}

                {% block swag_migration_assistant_migrationOverview_content %}
                <p class="swag-migration-assistant__content">
                    {{ $tc('swag-migration.index.assistantCard.migrationOverview.content') }}
                </p>
                {% endblock %}
            </div>
        {% endblock %}

        {% block swag_migration_assistant_finish %}
            <div class="swag-migration-assistant__paragraph">

                {% block swag_migration_assistant_finish_title %}
                    <h5 class="swag-migration-assistant__title">
                        {{ $tc('swag-migration.index.assistantCard.finish') }}
                    </h5>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-card>
{% endblock %}
