@import "~scss/variables";

.swag-migration-tab-card {
    .sw-tabs {
        width: 100%;
    }

    .sw-tabs__custom-content {
        padding: 0;
    }

    .swag-migration-tab-card__invalid-badge {
        background-color: $color-crimson-500;
        color: #ffffff;
        border-radius: 8px;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        padding: 0 8px;
        margin-left: 2px;
    }

    .sw-tabs-item__error-badge {
        display: none;
    }
}
