@import "~scss/variables";

.swag-migration-tab-card {
    .mt-card {
        min-height: 15rem;

        &__tabs {
            margin: 0 var(--scale-size-16);
        }
    }

    .sw-tabs {
        width: 100%;
    }

    .sw-tabs__custom-content {
        padding: 0;
    }

    .swag-migration-tab-card__invalid-badge {
        background-color: var(--color-interaction-critical-default);
        color: var(--color-static-white);
        border-radius: var(--border-radius-m);
        height: var(--scale-size-16);
        line-height: var(--font-line-height-2xs);
        font-size: var(--font-size-2xs);
        text-align: center;
        padding: var(--scale-size-2) var(--scale-size-10);
        margin-left: var(--scale-size-2);
    }

    .sw-tabs-item__error-badge {
        display: none;
    }
}
