{% block swag_migration_wizard %}
    <div class="swag-migration-wizard">
        <sw-modal size="800px" v-if="showModal" :title="$tc('sw-migration.wizard.title')" @closeModal="onCloseModal">
            {% block swag_migration_router_view %}
            <router-view
                    @apiKeyChanged="onApiKeyChanged"
                    @apiUserChanged="onApiUserChanged"
                    @shopDomainChanged="onShopDomainChanged">
            </router-view>
            {% endblock %}

            <template slot="modal-footer">
                {% block swag_migration_wizard_footer %}
                <div></div>

                {% block swag_migration_wizard_navigation %}
                <swag-dot-navigation :navCount="routeCount" :navIndex="routeIndex"></swag-dot-navigation>
                {% endblock %}

                {% block swag_migration_wizard_actions %}
                <div class="swag-migration-wizard__actions">
                    {% block swag_migration_wizard_actions_previous %}
                        <sw-button v-show="buttonPreviousVisible" size="small" @click="onPrevious">
                            {{ buttonPreviousText }}
                        </sw-button>
                    {% endblock %}
                    {% block swag_migration_wizard_actions_next %}
                        <sw-button v-show="buttonNextVisible" size="small" variant="primary" @click="onNext">
                            {{ buttonNextText }}
                        </sw-button>
                    {% endblock %}
                </div>
                {% endblock %}
                {% endblock %}
            </template>

        </sw-modal>
    </div>
{% endblock %}