{% block swag_migration_history_selected_data %}
    <div class="swag-migration-history-selected-data">
        <template v-for="(snippet, index) in dataSnippets">

            {% block swag_migration_history_selected_data_entityGroupSnippet %}
                {{ $tc(snippet) }}<template v-if="index !== (dataSnippets.length - 1)">, </template>
            {% endblock %}
        </template>
    </div>
{% endblock %}