{% block swag_migration_index_main_page %}
    <div class="swag-migration-index-main-page">
        {% block swag_migration_index_main_page_content %}
            <div v-if="!migrationUIStore.state.isLoading">
                {% block swag_migration_index_main_page_plugin_version %}
                    <sw-alert variant="warning" v-if="isUpdateAvailable" class="swag-migration-index-main_page__plugin-version">
                        {{ $tc('swag-migration.index.pluginVersionText') }}
                    </sw-alert>
                {% endblock %}

                {% block swag_migration_index_main_page_card_shopInformation %}
                    <swag-migration-shop-information :connected="connectionEstablished">
                    </swag-migration-shop-information>
                {% endblock %}
            </div>
        {% endblock %}

        {% block swag_migration_index_main_page_assistant %}
            <swag-migration-assistant v-if="!migrationUIStore.state.isLoading"></swag-migration-assistant>
        {% endblock %}

        {% block swag_migration_index_main_page_loader %}
            <sw-loader v-if="migrationUIStore.state.isLoading"></sw-loader>
        {% endblock %}
    </div>
{% endblock %}