@import "~scss/variables";

.swag-migration-index-main-page {
  .swag-migration-index-main_page__plugin-version {
    max-width: 800px;
    margin: 0 auto 40px auto;
    color: $color-darkgray-200;
  }
}