{% block swag_migration_loading_screen_failure %}
    <sw-card :title="$tc('swag-migration.index.loadingScreenCard.result.failure.title')"
             class="swag-migration-loading-screen-failure">
        {% block swag_migration_loading_screen_failure_content %}
            <div class="swag-migration-loading__content">
                {% block swag_migration_loading_screen_failure_information %}
                    <div class="content__information">
                        {% block swag_migration_loading_screen_failure_title %}
                            <h3 class="information__header">
                                {{ $tc('swag-migration.index.loadingScreenCard.result.failure.contentTitle') }}
                            </h3>
                        {% endblock %}

                        {% block swag_migration_loading_screen_failure_svg %}
                            <img class="swag-index-svg" :src="'/swagmigrationnext/static/img/step-5-2-2.svg' | asset">
                        {% endblock %}

                        {% block swag_migration_loading_screen_failure_hint %}
                            <sw-alert variant="warning">
                                {{ $tc('swag-migration.index.loadingScreenCard.result.failure.hintTitle') }}
                                {{ $tc('swag-migration.index.loadingScreenCard.result.failure.hintContent') }}
                            </sw-alert>
                        {% endblock %}

                        {% block swag_migration_loading_screen_failure_button_back %}
                            <sw-button @click="$emit('onClickBack')">
                                {{ $tc('swag-migration.index.backButton') }}
                            </sw-button>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-card>
{% endblock %}
