{% block swag_migration_wizard %}
    <div class="swag-migration-wizard">
        <sw-modal class="swag-migration-wizard__modal"
                  size="800px"
                  v-if="showModal"
                  :title="$tc(modalTitleSnippet)"
                  :isLoading="isLoading"
                  @closeModal="onCloseModal">

            {% block swag_migration_wizard_placeholder %}
                <div class="swag-migration-wizard__placeholder" v-show="isLoading || childIsLoading"></div>
            {% endblock %}

            {% block swag_migration_router_view %}
                <router-view
                        @onChildRouteReadyChanged="onChildRouteReadyChanged"
                        @onProfileSelected="onProfileSelected"
                        @onChangeConnectionName="onChangeConnectionName"
                        @onConnectionSelected="onConnectionSelected"
                        :currentConnectionId="connection.id"
                        :profileInformationComponent="profileInformationComponent"
                        :credentialsComponent="credentialsComponent"
                        :credentials="connection.credentialFields"
                        @onCredentialsChanged="onCredentialsChanged"
                        @onIsLoadingChanged="onChildIsLoadingChanged"
                        :errorMessageSnippet="errorMessageSnippet"
                        :connectionNameErrorSnippet="connectionNameErrorSnippet"
                        v-show="!isLoading && !childIsLoading">
                </router-view>
            {% endblock %}

            <template slot="modal-footer" class="swag-migration-wizard__footer">
                {% block swag_migration_wizard_footer %}

                    {% block swag_migration_wizard_arrow %}
                        <div class="swag-migration-wizard__left-actions">
                            <sw-button class="swag-migration-wizard__buttonBack"
                                       size="small"
                                       v-show="buttonBackVisible"
                                       @click="onButtonBackClick">
                                {{ $tc(buttonBackSnippet) }}
                            </sw-button>
                        </div>
                    {% endblock %}

                    {% block swag_migration_wizard_actions %}
                        <div class="swag-migration-wizard__right-actions">
                            {% block swag_migration_wizard_actions_previous %}
                                <sw-button v-show="buttonSecondaryVisible"
                                           size="small"
                                           @click="onButtonSecondaryClick">
                                    {{ $tc(buttonSecondarySnippet) }}
                                </sw-button>
                            {% endblock %}
                            {% block swag_migration_wizard_actions_next %}
                                <sw-button size="small"
                                           variant="primary"
                                           @click="onButtonPrimaryClick"
                                           :disabled="buttonPrimaryDisabled">
                                    {{ $tc(buttonPrimarySnippet) }}
                                </sw-button>
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endblock %}
            </template>

        </sw-modal>
    </div>
{% endblock %}