{% block swag_migration_wizard %}
    <div class="swag-migration-wizard">
        <sw-modal class="swag-migration-wizard"
                  size="800px"
                  v-if="showModal"
                  :title="$tc('swag-migration.wizard.title')"
                  :isLoading="isLoading"
                  @closeModal="onCloseModal">

            {% block swag_migration_wizard_placeholder %}
                <div class="swag-migration-wizard-placeholder" v-if="isLoading || childIsLoading"></div>
            {% endblock %}

            {% block swag_migration_router_view %}
                <router-view
                        @onChildRouteReadyChanged="onChildRouteReadyChanged"
                        :profileSelection="profileSelection"
                        @onProfileSelectionChanged="onProfileSelectionChanged"
                        @onProfileSelected="onProfileSelected"
                        @onChangeConnectionName="onChangeConnectionName"
                        @onConnectionSelected="onConnectionSelected"
                        :currentConnectionId="connection.id"
                        :profileInformationComponent="profileInformationComponent"
                        :credentialsComponent="credentialsComponent"
                        :credentials="connection.credentialFields"
                        @onCredentialsChanged="onCredentialsChanged"
                        @onIsLoadingChanged="onChildIsLoadingChanged"
                        :errorMessageSnippet="errorMessageSnippet"
                        v-show="!isLoading && !childIsLoading">
                </router-view>
            {% endblock %}

            <template slot="modal-footer">
                {% block swag_migration_wizard_footer %}

                    {% block swag_migration_wizard_arrow %}
                        <div class="swag-migration-wizard__left-actions">
                            <span class="swag-migration-wizard-arrow-link"
                                  v-show="buttonArrowVisible"
                                  @click="onButtonArrowClick">
                                <sw-icon name="default-arrow-simple-left" small></sw-icon>
                                <span>
                                    {{ $tc(buttonArrowSnippet) }}
                                </span>
                            </span>
                        </div>
                    {% endblock %}

                    {% block swag_migration_wizard_actions %}
                        <div class="swag-migration-wizard__right-actions">
                            {% block swag_migration_wizard_actions_previous %}
                                <sw-button v-show="buttonSecondaryVisible"
                                           size="small"
                                           @click="onButtonSecondaryClick">
                                    {{ $tc(buttonSecondarySnippet) }}
                                </sw-button>
                            {% endblock %}
                            {% block swag_migration_wizard_actions_next %}
                                <sw-button size="small"
                                           variant="primary"
                                           @click="onButtonPrimaryClick"
                                           :disabled="buttonPrimaryDisabled">
                                    {{ $tc(buttonPrimarySnippet) }}
                                </sw-button>
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endblock %}
            </template>

        </sw-modal>
    </div>
{% endblock %}