{% block swag_migration_expand_div %}
    <div class="swag-migration-expand-div">
        <div class="swag-migration-expand-div__title">
            <button class="swag-migration-expand-div__link"
               @click="onClick">
                <div v-if="isExpanded">
                    {{ expandTitle }}
                    <sw-icon class="swag-migration-expand-div__icon"
                             name="regular-chevron-circle-up"
                             size="16px" />
                </div>
                <div v-else>
                    {{ collapseTitle }}
                    <sw-icon class="swag-migration-expand-div__icon"
                             name="regular-chevron-circle-down"
                             size="16px" />
                </div>
            </button>
        </div>

        <div v-if="isExpanded"
             class="swag-migration-expand-div__slot">
            <slot>

                {% block swag_migration_expand_div_slot %}
                {% endblock %}
            </slot>
        </div>
    </div>
{% endblock %}
