@import "~scss/variables";

.swag-migration-result-screen {
    .swag-migration-result-screen__content {
        text-align: center;
        font-size: 12pt;
    }

    .swag-migration-result-screen__title {
        margin-bottom: 5px;
        font-size: $font-size-m;
        font-weight: $font-weight-semi-bold;
    }

    .swag-migration-result-screen__caption {
        margin: 0 135px 24px 135px;
        font-size: $font-size-xxs;
        color: $color-darkgray-200;
    }

    a.swag-migration-result-screen__link {
        font-size: $font-size-xxs;
        font-weight: $font-weight-semi-bold;
        color: $color-shopware-brand-500;
        text-decoration: none;
    }

    .swag-migration-result-screen__bubble {
        margin: 12px auto 20px auto;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: $color-emerald-50;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swag-migration-result-screen__icon {
        color: $color-emerald-500;
    }
}

.swag-migration-result-survey {
    .sw-card__content {
        background-color: transparent;
    }

    .swag-migration-result-survey__content {
        text-align: center;
        font-size: $font-size-xxs;
    }

    .swag-migration-result-survey__title {
        margin-bottom: 5px;
        font-size: $font-size-xxs;
        font-weight: $font-weight-semi-bold;
    }

    .swag-migration-result-survey__caption {
        margin: 10px 60px 24px 60px;
        font-size: $font-size-xxs;
        color: $color-darkgray-200;
    }

    .swag-migration-result-survey__external-icon {
        margin-left: 5px;
    }

    .swag-migration-result-survey__icon {
        margin-top: 12px;
        width: 22px;
    }
}
