{% block swag_migration_wizard_page_credentials %}
    <div class="swag-migration-wizard swag-migration-wizard-page-credentials">
        {% block swag_migration_wizard_page_credentials_content %}
            <div class="swag-migration-wizard__content">
                {% block swag_migration_wizard_page_credentials_information %}
                    <div class="content__information">
                        {% block swag_migration_wizard_page_credentials_title %}
                            <h3 class="information__header">
                                {{ $tc('swag-migration.wizard.pages.credentials.contentTitle') }}
                            </h3>
                        {% endblock %}

                        {% block swag_migration_wizard_page_credentials_api_hint %}
                            {{ $tc('swag-migration.wizard.pages.credentials.contentInformation') }}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block swag_migration_wizard_page_credentials_credentials %}
                    <div class="content__credentials">
                        {% block swag_migration_wizard_page_credentials_apikey_field %}
                            <sw-field name="sw-field--apiKey"
                                      :label="$tc('swag-migration.wizard.pages.credentials.apiKeyLabel')"
                                      :placeholder="$tc('swag-migration.wizard.pages.credentials.apiKeyPlaceholder')"
                                      :value="apiKey"
                                      @input="$emit('apiKeyChanged', $event)">
                                {% block swag_migration_wizard_page_credentials_apikey_icon %}
                                    <sw-icon name="default-lock-key" slot="suffix"></sw-icon>
                                {% endblock %}
                            </sw-field>
                        {% endblock %}

                        {% block swag_migration_wizard_page_credentials_apiuser_field %}
                            <sw-field name="sw-field--apiUser"
                                      :label="$tc('swag-migration.wizard.pages.credentials.apiUserLabel')"
                                      :placeholder="$tc('swag-migration.wizard.pages.credentials.apiUserPlaceholder')"
                                      :value="apiUser"
                                      @input="$emit('apiUserChanged', $event)">
                                {% block swag_migration_wizard_page_credentials_apiuser_icon %}
                                    <sw-icon name="default-avatar-single" slot="suffix"></sw-icon>
                                {% endblock %}
                            </sw-field>
                        {% endblock %}

                        {% block swag_migration_wizard_page_credentials_endpoint_field %}
                            <sw-field name="sw-field--endpoint"
                                      :label="$tc('swag-migration.wizard.pages.credentials.endpointLabel')"
                                      :placeholder="$tc('swag-migration.wizard.pages.credentials.endpointPlaceholder')"
                                      :value="endpoint"
                                      @input="$emit('endpointChanged', $event)">
                                {% block swag_migration_wizard_page_credentials_endpoint_icon %}
                                    <sw-icon name="default-web-link" slot="suffix"></sw-icon>
                                {% endblock %}
                            </sw-field>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block swag_migration_wizard_page_credentials_breadcrumb %}
            <div class="swag-migration-wizard__breadcrumb">
                {% block swag_migration_wizard_page_credentials_breadcrumb_content %}
                    {% block swag_migration_wizard_page_credentials_breadcrumb_icon %}
                        <sw-icon class="breadcrumb__icon" name="default-badge-info" size="19px"></sw-icon>
                    {% endblock %}

                    {% block swag_migration_wizard_page_credentials_breadcrumb_path %}
                        <swag-breadcrumb :description="breadcrumbDescription"
                                         :items="breadcrumbItems">
                        </swag-breadcrumb>
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}