.swag-migration-wizard-page-credentials-error {
    .swag-migration-wizard__description-hint {
        font-size: var(--font-size-xs);
        margin: var(--scale-size-20) auto var(--scale-size-20);
    }

    .swag-migration-wizard__content-information {
        text-align: center;
        margin-bottom: var(--scale-size-4);
    }
}
