{% block swag_migration_media_process %}
    <sw-card class="swag-migration-media-process">

        {% block swag_migration_media_process_content %}
            <div class="swag-migration-media-process__content">

                {% block swag_migration_media_process_icon %}
                    <div class="swag-migration-media-process__bubble">
                        <sw-icon class="swag-migration-media-process__icon" name="default-chart-heart-puls" size="36px" decorative></sw-icon>
                    </div>
                {% endblock %}

                {% block swag_migration_media_process_title %}
                    <div class="swag-migration-media-process__title">
                        {{ $tc('swag-migration.index.loadingScreenCard.mediaProcessScreen.title') }}
                    </div>
                {% endblock %}

                {% block swag_migration_media_process_message %}
                    <p class="swag-migration-media-process__message">
                        {{ $tc('swag-migration.index.loadingScreenCard.mediaProcessScreen.message') }}
                    </p>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-card>
{% endblock %}