{% block swag_migration_wizard_page_credentials %}
    <div class="swag-migration-wizard-page-credentials">

        {% block swag_migration_wizard_page_credentials_forms %}
            <component v-if="credentialsComponent !== '' && componentIsLoaded"
                       :is="credentialsComponent"
                       :credentials="credentials"
                       @onCredentialsChanged="$emit('onCredentialsChanged', $event)"
                       @onChildRouteReadyChanged="$emit('onChildRouteReadyChanged', $event)"
                       @onTriggerPrimaryClick="$emit('onTriggerPrimaryClick')">
            </component>
        {% endblock %}

        {% block swag_migration_wizard_page_credentials_no_form_found %}
            <template v-else class="swag-migration-wizard-page-credentials__empty_state">

                {% block swag_migration_wizard_page_credentials_no_form_found_content %}
                    <p class="swag-migration-wizard__emptyStateDescription">
                        {{ $tc('swag-migration.wizard.pages.credentials.emptyState') }}
                    </p>
                {% endblock %}
            </template>
        {% endblock %}
    </div>
{% endblock %}