{% block swag_migration_wizard_page_credentials_success %}
    <div class="swag-migration-wizard swag-migration-wizard-page-credentials-success">
        {% block swag_migration_wizard_page_success_error_alert %}
            <sw-alert variant="warning"
                      id="alert-error-message"
                      v-if="errorMessageSnippet !== ''"
                      :title="$tc('swag-migration.wizard.pages.credentials.success.alertErrorTitle')">
                {{ $tc(errorMessageSnippet) }}
            </sw-alert>
        {% endblock %}

        {% block swag_migration_wizard_page_credentials_success_content %}
            <div class="swag-migration-wizard__content">
                {% block swag_migration_wizard_page_credentials_success_information %}
                    <div class="swag-migration-wizard__content-information">
                        {% block swag_migration_wizard_page_credentials_success_title %}
                            <h3 class="information__header">
                                {{ $tc('swag-migration.wizard.pages.credentials.success.contentTitle') }}
                            </h3>
                        {% endblock %}

                        {% block swag_migration_wizard_page_credentials_success_api_hint %}
                            {{ $tc('swag-migration.wizard.pages.credentials.success.contentInformation') }}
                        {% endblock %}

                        {% block swag_migration_wizard_page_credentials_success_svg %}
                        <img class="swag-migration-wizard__illustration" :src="'/swagmigrationnext/static/img/success-illustration.svg' | asset">
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}