@import "~scss/variables";

.swag-migration-history-detail-errors {
    .swag-migration-history-detail-errors__no-error {
        padding: var(--scale-size-20);
    }

    .swag-migration-history-detail-errors__loading-placeholder {
        height: 100px;
    }

    .swag-migration-history-detail-errors__description {
        margin-top: var(--scale-size-16);
        font-size: $font-size-xxs;
        color: $color-gray-500;
    }
}
