@import "~scss/variables";

.swag-migration-shop-information {

    .swag-migration-shop-information__connection {
        display: grid;
        grid-gap: 8px;
        grid-template-columns: (112px - 8px) 1fr min-content;

        @media screen and (max-width: 650px) {
            grid-template-columns: 1fr;
        }
    }

    .swag-migration-shop-information__shop-domain {
        font-size: $font-size-xxs;
        white-space: nowrap;
    }

    .swag-migration-shop-information__shop-domain-prefix {
        color: $color-pumpkin-spice-300;
    }

    .swag-migration-shop-information__shop-domain-prefix--is-ssl {
        color: $color-emerald-500;
    }

    .swag-migration-shop-information__connection-name {
        font-size: $font-size-m;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .swag-migration-shop-information__actions {
        margin-top: 16px;

        .sw-button {
            margin-right: 8px;
        }
    }

    .swag-migration-shop-information__connection-status {
        white-space: nowrap;
        max-width: unset;
        display: inline-flex;
    }

    .swag-migration-shop-information__connection-status-dot {
        margin: auto 6px auto auto;
    }

    .swag-migration-shop-information__connection-status-text {
        margin: auto 0;
        font-size: 12px;
        font-weight: 600;
    }

    .swag-migration-shop-information__metadata {
        color: $color-darkgray-200;
        font-size: 14px;
    }

    .swag-migration-shop-information__metadata-columns {
        dt {
            padding: 8px 4px 4px 4px;
        }

        dd {
            padding: 4px;
        }
    }
}

.swag-migration-shop-information__confirm-modal {
    .sw-modal__body {
        padding: 32px;
    }

    .swag-migration-shop-information__confirm-modal-content {
        text-align: center;
    }

    .swag-migration-shop-information__confirm-modal-content-hint {
        text-align: center;
        padding-top: 32px;
        font-weight: 600;
    }
}

.swag-migration-shop-information__reset-confirm-modal {
    .swag-migration-shop-information__reset-confirm-modal-icon-wrapper {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: $color-emerald-50;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 40px auto;
    }

    .swag-migration-shop-information__reset-confirm-modal-header {
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-m;
        text-align: center;
    }

    .swag-migration-shop-information__reset-confirm-modal-content {
        font-size: $font-size-xxs;
        text-align: center;
        padding-top: 20px;
        max-width: 500px;
        margin: auto;
    }

    .swag-migration-shop-information__reset-confirm-modal-content-hint {
        text-align: center;
        padding-top: 32px;
        padding-bottom: 20px;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-xxs;
    }
}
