.swag-migration-shop-information__updating-info {
    max-width: 60rem;
    margin: 0 auto var(--scale-size-40);
}

.swag-migration-shop-information {
    .mt-card__header {
        display: flex;
        align-items: center;
    }

    .swag-migration-shop-information__header-right {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .swag-migration-shop-information__connection {
        display: flex;
        justify-content: space-between;
    }

    .swag-migration-shop-information__connection-wrapper-left {
        display: flex;
        gap: var(--scale-size-10);
        flex: 1;
    }

    .swag-migration-shop-information__shop-domain {
        display: flex;
        align-items: center;
        font-size: var(--font-size-xs);
        white-space: nowrap;
        gap: var(--scale-size-2);
    }

    .swag-migration-shop-information__profile-avatar {
        height: 100%;
    }

    .swag-migration-shop-information__shop-domain-prefix {
        display: flex;
        align-items: center;
        gap: var(--scale-size-2);
        color: var(--color-icon-attention-default);
    }

    .swag-migration-shop-information__shop-domain-prefix--is-ssl {
        color: var(--color-icon-positive-default);
    }

    .swag-migration-shop-information__connection-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .swag-migration-shop-information__connection-name {
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-semibold);
        margin-bottom: var(--scale-size-4);
    }

    .swag-migration-shop-information__actions {
        display: flex;
        gap: var(--scale-size-6);
        align-items: center;

        &-initial {
            margin-top: var(--scale-size-2);
        }

        &-edit,
        &-context-menu {
            margin-top: var(--scale-size-16);
        }
    }

    .swag-migration-shop-information__connection-badge {
        width: fit-content;
    }

    .swag-migration-shop-information__connection-status {
        margin: 0;
    }

    .swag-migration-shop-information__connection-status-dot {
        margin: auto var(--scale-size-6) auto auto;
    }

    .swag-migration-shop-information__connection-status-text {
        margin: auto 0;
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-semibold);
    }

    .swag-migration-shop-information__metadata-section {
        border-radius: var(--border-radius-card);
    }

    .swag-migration-shop-information__metadata {
        color: var(--color-text-secondary-default);
        font-size: var(--font-size-xs);
    }

    .swag-migration-shop-information__metadata-columns {
        dt {
            padding: var(--scale-size-8) var(--scale-size-4) var(--scale-size-2) var(--scale-size-4);
        }

        dd {
            padding: 0 var(--scale-size-4) var(--scale-size-4) var(--scale-size-4);
        }
    }
}

.swag-migration-shop-information__confirm-modal {
    .swag-migration-shop-information__confirm-modal-header {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        padding-bottom: var(--scale-size-6);
    }

    .swag-migration-shop-information__confirm-modal-content {
        font-size: var(--font-size-xs);
        color: var(--color-text-primary-default);
        line-height: var(--font-line-height-xs);
    }

    .swag-migration-shop-information__confirm-modal-content-hint {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-xs);
        color: var(--color-text-primary-default);
        line-height: var(--font-line-height-xs);
        padding-bottom: var(--scale-size-6);
    }
}
