@import "~scss/variables";

.swag-migration-shop-information {

    .swag-migration-shop-information__connection {
        display: grid;
        grid-gap: 8px;
        grid-template-columns: (112px - 8px) 1fr min-content;

        @media screen and (max-width: 650px) {
            grid-template-columns: 1fr;
        }
    }

    .swag-migration-shop-information__shop-domain {
        font-size: $font-size-xxs;
        white-space: nowrap;
    }

    .swag-migration-shop-information__shop-domain-prefix {
        color: $color-pumpkin-spice-300;
    }

    .swag-migration-shop-information__shop-domain-prefix--is-ssl {
        color: $color-emerald-500;
    }

    .swag-migration-shop-information__connection-name {
        font-size: $font-size-m;
        font-weight: 600;
        margin-bottom: var(--scale-size-4);
    }

    .swag-migration-shop-information__actions {
        margin-top: var(--scale-size-16);

        .sw-button {
            margin-right: var(--scale-size-8);
        }
    }

    .swag-migration-shop-information__connection-status {
        white-space: nowrap;
        max-width: unset;
        display: inline-flex;
    }

    .swag-migration-shop-information__connection-status-dot {
        margin: auto var(--scale-size-6) auto auto;
    }

    .swag-migration-shop-information__connection-status-text {
        margin: auto 0;
        font-size: 12px;
        font-weight: 600;
    }

    .swag-migration-shop-information__metadata {
        color: $color-darkgray-200;
        font-size: 14px;
    }

    .swag-migration-shop-information__metadata-columns {
        dt {
            padding: var(--scale-size-8) var(--scale-size-4) var(--scale-size-4) var(--scale-size-4);
        }

        dd {
            padding: var(--scale-size-4);
        }
    }
}

.swag-migration-shop-information__confirm-modal {
    .sw-modal__body {
        padding: var(--scale-size-32);
    }

    .swag-migration-shop-information__confirm-modal-content {
        text-align: center;
    }

    .swag-migration-shop-information__confirm-modal-content-hint {
        text-align: center;
        padding-top: var(--scale-size-32);
        font-weight: 600;
    }
}

.swag-migration-shop-information__reset-confirm-modal {
    .swag-migration-shop-information__reset-confirm-modal-icon-wrapper {
        width: var(--scale-size-72);
        height: var(--scale-size-72);
        border-radius: var(--border-radius-round);
        background-color: $color-emerald-50;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto var(--scale-size-40) auto;
    }

    .swag-migration-shop-information__reset-confirm-modal-header {
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-m;
        text-align: center;
    }

    .swag-migration-shop-information__reset-confirm-modal-content {
        font-size: $font-size-xxs;
        text-align: center;
        padding-top: var(--scale-size-20);
        max-width: 500px;
        margin: auto;
    }

    .swag-migration-shop-information__reset-confirm-modal-content-hint {
        text-align: center;
        padding-top: var(--scale-size-32);
        padding-bottom: var(--scale-size-20);
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-xxs;
    }
}
