{% block swag_migration_process_screen %}
    <sw-page class="swag-migration-process-screen">
        {% block swag_migration_index_smart_bar_header %}
            <template slot="smart-bar-header">
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    {{ $tc('swag-migration.general.mainMenuItemGeneral') }}
                </h2>
            </template>
        {% endblock %}

        {% block swag_migration_index_smart_bar_actions %}
            <template slot="smart-bar-actions">
                <sw-button v-if="abortButtonVisible" @click="onAbortButtonClick">
                    {{ $tc('swag-migration.index.abortButton') }}
                </sw-button>
                <sw-button variant="primary" v-if="backButtonVisible" @click="onBackButtonClick">
                    {{ $tc('swag-migration.index.backButton') }}
                </sw-button>
                <sw-button variant="primary" v-if="pauseButtonVisible" @click="onPauseButtonClick" :disabled="pauseButtonDisabled">
                    {{ $tc('swag-migration.index.pauseButton') }}
                </sw-button>
                <sw-button variant="primary" v-if="continueButtonVisible" @click="onContinueButtonClick">
                    {{ $tc('swag-migration.index.continueButton') }}
                </sw-button>
                <sw-button variant="primary" v-if="startButtonVisible" @click="onStartButtonClick" :disabled="startButtonDisabled">
                    {{ $tc('swag-migration.index.startButton') }}
                </sw-button>
            </template>
        {% endblock %}

        <template slot="content">
            <sw-card-view class="swag-migration-process-screen" v-if="!migrationUIStore.state.isLoading">
                {% block swag_migration_index_main_page_flow_chart %}
                    <swag-migration-flow-chart class="swag-migration-process-screen__flow-chart"
                                               :itemIndex="flowChartItemIndex"
                                               :itemVariant="flowChartItemVariant"
                                               :initialItemVariants="flowChartInitialItemVariants"
                                               v-if="displayFlowChart">
                        <swag-migration-flow-item>
                            {{ $tc('swag-migration.index.loadingScreenCard.flowChart.premapping') }}
                        </swag-migration-flow-item>
                        <swag-migration-flow-item>
                            {{ $tc('swag-migration.index.loadingScreenCard.flowChart.fetchData') }}
                        </swag-migration-flow-item>
                        <swag-migration-flow-item>
                            {{ $tc('swag-migration.index.loadingScreenCard.flowChart.writeData') }}
                        </swag-migration-flow-item>
                        <swag-migration-flow-item>
                            {{ $tc('swag-migration.index.loadingScreenCard.flowChart.processMedia') }}
                        </swag-migration-flow-item>
                        <swag-migration-flow-item disabledIcon="small-default-checkmark-line-medium">
                            {{ $tc('swag-migration.index.loadingScreenCard.flowChart.finish') }}
                        </swag-migration-flow-item>
                    </swag-migration-flow-chart>
                {% endblock %}

                {% block swag_migration_index_main_page_card_premapping %}
                    <swag-migration-premapping v-if="migrationUIStore.state.componentIndex === UI_COMPONENT_INDEX.PREMAPPING">
                    </swag-migration-premapping>
                {% endblock %}

                {% block swag_migration_index_main_page_card_loadingScreen %}
                    <swag-migration-loading-screen
                            v-if="migrationUIStore.state.componentIndex === UI_COMPONENT_INDEX.LOADING_SCREEN || migrationUIStore.state.componentIndex === UI_COMPONENT_INDEX.PAUSE_SCREEN"
                    >
                    </swag-migration-loading-screen>
                {% endblock %}

                {% block swag_migration_index_main_page_card_loadingScreen_success %}
                    <swag-migration-result-screen v-if="migrationUIStore.state.componentIndex === UI_COMPONENT_INDEX.RESULT_SUCCESS">
                    </swag-migration-result-screen>
                {% endblock %}

                {% block swag_migration_index_main_page_card_loadingScreen_warning %}
                    <swag-migration-result-screen v-if="migrationUIStore.state.componentIndex === UI_COMPONENT_INDEX.RESULT_WARNING"
                                                  :errorList="errorList">
                    </swag-migration-result-screen>
                {% endblock %}

                {% block swag_migration_index_main_page_card_loadingScreen_takeover %}
                    <swag-migration-loading-screen-takeover v-if="migrationUIStore.state.componentIndex === UI_COMPONENT_INDEX.TAKEOVER"
                                                            @onTakeoverMigration="onTakeoverMigration"
                                                            @onAbortMigration="onAbortOtherMigration"
                                                            :isTakeoverForbidden="isTakeoverForbidden"
                                                            :isMigrationInterrupted="isMigrationInterrupted">
                    </swag-migration-loading-screen-takeover>
                {% endblock %}

                {% block swag_migration_index_main_page_modal_abort_migration_confirmDialog %}
                    <sw-modal v-if="showAbortMigrationConfirmDialog"
                              :title="$tc('swag-migration.index.confirmAbortDialog.title')"
                              @closeModal="onCloseAbortMigrationConfirmDialog"
                              variant="small">

                        <sw-alert variant="warning"
                                  class="swag-migration-index-data-selector__tou">
                            <p v-html="$tc('swag-migration.index.confirmAbortDialog.hintContent')"></p>
                        </sw-alert>

                        {% block swag_migration_index_main_page_modal_abort_migration_confirmDialog_message %}
                        <p class="swag-migration-index-modal-abort-migration-confirm-dialog-message">
                            {{ $tc('swag-migration.index.confirmAbortDialog.message') }}
                        </p>
                        {% endblock %}

                        {% block swag_migration_index_main_page_modal_abort_migration_confirmDialog_footer %}
                            <template slot="modal-footer">
                                {% block swag_migration_index_main_page_modal_abort_migration_confirmDialog_footer_cancelAction %}
                                    <sw-button @click="onCloseAbortMigrationConfirmDialog"
                                               size="small">
                                        {{ abortMigrationBackText }}
                                    </sw-button>
                                {% endblock %}

                                {% block swag_migration_index_main_page_modal_abort_migration_confirmDialog_footer_confirmAction %}
                                    <sw-button @click="onStop"
                                               variant="primary"
                                               size="small">
                                        {{ $tc('swag-migration.index.confirmAbortDialog.confirm') }}
                                    </sw-button>
                                {% endblock %}
                            </template>
                        {% endblock %}
                    </sw-modal>
                {% endblock %}
            </sw-card-view>
            <sw-loader v-if="migrationUIStore.state.isLoading"></sw-loader>
        </template>
    </sw-page>
{% endblock %}