@import "~scss/variables";

.swag-migration-history {
    .swag-migration-history__status-icon--finished {
        color: var(--color-text-positive-default);
    }

    .swag-migration-history__status-icon--aborted {
        color: var(--color-text-critical-default);
    }

    .swag-migration-history__status-icon--loading {
        color: var(--color-text-primary-disabled);
    }

    .swag-migration-history__no-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15rem;
        width: 100%;

        .swag-migration-history__no-data-label {
            font-size: var(--font-size-m);
            font-weight: var(--font-weight-semibold);
        }

        .swag-migration-history__no-data-sub-label {
            margin-top: var(--scale-size-4);
            font-size: var(--font-size-xs);
            color: var(--color-text-secondary-default);
        }
    }
}

.swag-migration-history__run-clear-confirm-modal {
    .sw-modal__body {
        padding: var(--scale-size-32);
    }

    .swag-migration-history__run-clear-confirm-modal-content {
        text-align: center;
    }

    .swag-migration-history__run-clear-confirm-modal-content-hint {
        text-align: center;
        padding-top: var(--scale-size-32);
        font-weight: var(--font-weight-semibold);
    }
}
