@import "~scss/variables";

.swag-migration-history {
    .swag-migration-history__status-icon--finished {
        color: var(--color-text-primary-default);
    }

    .swag-migration-history__status-icon--aborted {
        color: var(--color-text-critical-default);
    }

    .swag-migration-history__status-icon--loading {
        color: var(--color-text-primary-disabled);
    }
}

.swag-migration-history__run-clear-confirm-modal {
    .sw-modal__body {
        padding: var(--scale-size-32);
    }

    .swag-migration-history__run-clear-confirm-modal-content {
        text-align: center;
    }

    .swag-migration-history__run-clear-confirm-modal-content-hint {
        text-align: center;
        padding-top: var(--scale-size-32);
        font-weight: var(--font-weight-semibold);
    }
}
