{% block swag_svg_step3 %}
<div class="swag-svg-step3">
    <svg viewBox="0 0 604 179" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="a" x1="100%" x2="0%" y1="96.229%">
                <stop stop-color="#ADCAEE" offset="0"/>
                <stop stop-color="#C6EAF6" offset="1"/>
            </linearGradient>
        </defs>
        <g transform="translate(2)" fill="none" fill-rule="evenodd">
            <path d="m0 133h600" opacity=".342" stroke="#D8DDE6" stroke-linecap="round" stroke-width="4"/>
            <g transform="translate(154)">
                <path d="m27.743 0.9958h235.54c3.3137 0 6 2.6863 6 6v150.96l14.796 0.19248 0.6732 13.537c0.16458 3.3096-2.385 6.126-5.6946 6.2906-0.099259 0.004936-0.19862 0.007406-0.29801 0.007406h-266.8c-3.3137 0-6-2.6863-6-6v-13.382l15.782-0.89366v-150.71c0-3.3137 2.6863-6 6-6z" fill="#FFF" fill-rule="nonzero"/>
                <g transform="translate(1.973 3.017)" opacity=".6" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                    <path d="m0 173.14l286.05-0.166" stroke="#D8DDE6"/>
                    <path d="m5.9184 170.06v-12.212c0-0.67442 0.53986-1.2212 1.2057-1.2212h13.564c0.66586 0 1.2057-0.54681 1.2057-1.2212v-148.99c0-3.541 2.834-6.4115 6.33-6.4115h231.01c3.4984 0 6.333 2.8739 6.33 6.4167l-0.11846 149.29c-6.03e-4 0.67473 0.53956 1.2221 1.2057 1.2221h13.262c0.66586 0 1.2057 0.54681 1.2057 1.2212v12.823" stroke="#CFD7E6"/>
                    <path d="m32.551 156.74v-138.77c0-3.2979 2.5584-5.9718 5.7143-5.9718h208.54c3.1577 0 5.7167 2.6767 5.7143 5.9767l-0.10576 138.66-87.05 0.031461c-0.6219 3.05e-4 -1.1417 0.52171-1.1995 1.2035l-0.24707 2.9027c-0.058152 0.68207-0.57791 1.2032-1.2001 1.2032l-39.988 3.05e-4c-0.6219 0-1.142-0.5214-1.1998-1.2032l-0.24707-2.9018c-0.058152-0.68237-0.57821-1.2038-1.2004-1.2035l-82.364 0.030545" stroke="#CFD7E6"/>
                </g>
                <path d="m40 17h209c2.2091 0 4 1.7909 4 4v137h-84.453c-1.8805-0.13379-3.131 0.33048-3.7515 1.3928-0.62044 1.0623-0.85327 2.3357-0.69849 3.8201h-38.767c0.13444-1.9969-0.10433-3.3873-0.71631-4.1711-0.61198-0.78385-1.6707-1.1311-3.176-1.0417h-85.438v-137c0-2.2091 1.7909-4 4-4z" fill="url(#a)" fill-opacity=".71" fill-rule="nonzero"/>
            </g>
        </g>
    </svg>
</div>
{% endblock %}