.swag-migration-dashboard-card {
    .sw-card__content {
        margin-top: var(--scale-size-24);
    }

    .swag-migration-dashboard-card__title {
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-semibold);
        color: var(--color-text-primary-default);
    }

    .swag-migration-dashboard-card__headline {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-medium);
        margin-bottom: var(--scale-size-10);
    }

    .swag-migration-dashboard-card__information {
        font-size: var(--font-size-xs);
        font-weight: normal;
        width: calc(var(--scale-size-224) * 2);
        margin-bottom: var(--scale-size-12);
        line-height: var(--font-line-height-xs);
    }

    .swag-migration-dashboard-card__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0 var(--scale-size-14);
    }

    .swag-migration-dashboard-card__right-content {
        text-align: right;
    }
}
