{% block swag_migration_history_detail_errors %}
    <div class="swag-migration-history-detail-errors">
        <div v-if="!isLoading">

            {% block swag_migration_history_detail_errors_grid %}
                <sw-data-grid v-if="migrationErrors.length > 0"
                              identifier="swag-migration-history-detail-errors"
                              :dataSource="migrationErrors"
                              :columns="columns"
                              :showSelection="false"
                              :showSettings="false"
                              :allowColumnEdit="false"
                              :showActions="false"
                              :sortBy="sortBy"
                              :sortDirection="sortDirection"
                              @column-sort="onSortColumn">

                    {% block swag_migration_history_detail_errors_grid_code%}
                        <template #column-title="{ item }">
                            {{ item.title }}
                        </template>
                    {% endblock %}

                    {% block swag_migration_history_detail_errors_grid_count %}
                        <template #column-count="{ item }">
                            {{ item.count }}
                        </template>
                    {% endblock %}

                    {% block swag_migration_history_detail_errors_grid_pagination %}
                        <template #pagination>
                            <sw-pagination :page="page"
                                           :limit="limit"
                                           :total="total"
                                           :steps="[5,10]"
                                           :total-visible="7"
                                           @page-change="onPageChange">
                            </sw-pagination>
                        </template>
                    {% endblock %}
                </sw-data-grid>
            {% endblock %}

            {% block swag_migration_history_detail_errors_noError %}
                <p v-if="migrationErrors.length === 0"
                   class="swag-migration-history-detail-errors__no-error">
                    {{ $tc('swag-migration.history.detailPage.noErrorsOccurred') }}
                </p>
            {% endblock %}

            {% block swag_migration_history_detail_errors_download_form %}
                <form class="swag-migration-history-detail-errors__download-form"
                      ref="downloadForm"
                      :action="downloadUrl"
                      method="POST">
                    <input type="hidden"
                           name="runUuid"
                           :value="migrationRun.id">
                </form>
            {% endblock %}

            {% block swag_migration_history_detail_errors_description %}
                <i18n class="swag-migration-history-detail-errors__description"
                      path="swag-migration.history.detailPage.logDescription"
                      tag="p">
                    <a class="link"
                       place="link"
                       href="#"
                       @click.prevent="submitDownload">
                        {{ $tc('swag-migration.history.detailPage.logDownload') }}
                    </a>
                </i18n>
            {% endblock %}

        </div>

        {% block swag_migration_history_detail_errors_noError__loader %}
            <div v-if="isLoading"
                 class="swag-migration-history-detail-errors__loading-placeholder"></div>
            <sw-loader v-if="isLoading"></sw-loader>
        {% endblock %}

    </div>
{% endblock %}
