@import "~scss/variables";

.swag-migration-wizard__modal {
    font-size: $font-size-xxs;

    .swag-migration-wizard__placeholder {
        height: 500px;
    }

    .swag-migration-wizard__content {
        max-width: 520px;
        margin: 8px auto 60px auto;
    }

    .swag-migration-wizard__content-information {
        text-align: center;
    }

    h3.swag-migration-wizard__information-header {
        margin-bottom: 12px;
    }

    .swag-migration-wizard__link {
        margin-top: 20px;

        a {
            font-weight: 600;
            font-size: 12px;
            text-decoration: none;
        }
    }

    .swag-migration-wizard__illustration {
        width: 219px;
        margin-bottom: 40px;
    }

    .swag-migration-wizard__plugin {
        width: 84px;
        margin-bottom: 24px;
        margin-top: 10px;
    }

    .swag-migration-wizard__form {
        width: 80%;
        margin: 40px auto 30px auto;
    }

    &.sw-modal {
        .sw-modal__footer {
            display: flex;
        }
    }

    .swag-migration-wizard__footer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        white-space: nowrap;
    }

    .swag-migration-wizard__left-actions {
        text-align: left;
    }

    .swag-migration-wizard__right-actions {
        text-align: right;
    }

    .swag-migration-wizard__bubble {
        margin: 4px auto 20px auto;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: $color-emerald-50;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swag-migration-wizard__bubble--success {
        background-color: $color-emerald-50;
    }

    .swag-migration-wizard__bubble--warning {
        background-color: $color-pumpkin-spice-50;
    }

    .swag-migration-wizard__success-icon {
        color: $color-emerald-500;
    }

    .swag-migration-wizard__warning-icon {
        color: $color-pumpkin-spice-500;
    }

    .sw-url-input-ssl-switch__field {
        grid-template-columns: 24px 1fr;
    }

    .swag-migration-wizard__description {
        line-height: 22px;
    }

    .swag-migration-wizard__headline {
        font-size: 32px;
        font-weight: normal;
    }
}
