@import "~scss/variables";

.swag-migration-expand-div {
    .swag-migration-expand-div__title {
        margin: 0 auto;
        max-width: 800px;
        text-align: center;
        font-size: 14px;
        line-height: 0.5;
        color: $color-shopware-brand-500;
        cursor: pointer;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        white-space: nowrap;

        &::before, &::after {
            content: '';
            height: 5px;
            border-bottom: 1px solid $color-gray-300;
            width: 100%;
        }
    }

    .swag-migration-expand-div__icon {
        margin-left: 4px;
    }
}