{% block swag_migration_wizard_page_introduction %}
    <div class="swag-migration-wizard swag-migration-wizard-page-introduction">
        {% block swag_migration_wizard_page_introduction_content %}
            <div class="swag-migration-wizard__content">
                {% block swag_migration_wizard_page_introduction_information %}
                    <div class="content__information">
                        {% block swag_migration_wizard_page_introduction_title %}
                            <h3 class="information__header">
                                {{ $tc('swag-migration.wizard.pages.introduction.contentTitle') }}
                            </h3>
                        {% endblock %}

                        {% block swag_migration_wizard_page_introduction_api_hint %}
                            {{ $tc('swag-migration.wizard.pages.introduction.contentInformation') }}
                        {% endblock %}

                        {% block swag_migration_wizard_page_plugin_information_plugin_link %}
                        <div class="swag-migration-wizard__documentation-link">
                            <a target="_blank" href="https://docs.shopware.com/de/shopware-playground-de/swpgconnector">{{ $tc('swag-migration.wizard.pages.introduction.documentationLink') }}</a>
                        </div>
                        {% endblock %}

                        {% block swag_migration_wizard_page_introduction_svg %}
                            <img class="swag-wizard-svg" :src="'/swagmigrationnext/static/img/step-1-start.svg' | asset">
                        {% endblock %}

                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}