<div class="swag-migration-wizard swag-migration-wizard-page-credentials">

    {% block swag_migration_wizard_page_credentials_content %}
        <div class="swag-migration-wizard__content">

            {% block swag_migration_wizard_page_credentials_information %}
                <div class="swag-migration-wizard__content-information">

                    {% block swag_migration_wizard_page_credentials_api_hint %}
                        <p class="swag-migration-wizard__description">
                            {{ $tc('swag-migration.wizard.pages.credentials.shopware55.api.contentInformation') }}
                        </p>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block swag_migration_wizard_page_credentials_credentials %}
            <div class="swag-migration-wizard__form">

                {% block swag_migration_wizard_page_credentials_apikey_field %}
                    <sw-text-field v-model:value="inputCredentials.apiKey"
                                   v-autofocus
                                   name="sw-field--apiKey"
                                   :label="$tc('swag-migration.wizard.pages.credentials.shopware55.api.apiKeyLabel')"
                                   :placeholder="$tc('swag-migration.wizard.pages.credentials.shopware55.api.apiKeyPlaceholder')"
                                   :help-text="$tc('swag-migration.wizard.pages.credentials.shopware55.api.apiKeyTooltip')"
                                   :error="apiKeyError">

                        {% block swag_migration_wizard_page_credentials_apikey_icon %}
                            <template #suffix>
                                <sw-icon name="regular-key" />
                            </template>
                        {% endblock %}
                    </sw-text-field>
                {% endblock %}

                {% block swag_migration_wizard_page_credentials_apiuser_field %}
                    <sw-text-field
                                   v-model:value="inputCredentials.apiUser"
                                   name="sw-field--apiUser"
                                   :label="$tc('swag-migration.wizard.pages.credentials.shopware55.api.apiUserLabel')"
                                   :placeholder="$tc('swag-migration.wizard.pages.credentials.shopware55.api.apiUserPlaceholder')"
                                   :help-text="$tc('swag-migration.wizard.pages.credentials.shopware55.api.apiUserTooltip')"
                                   validation="required">

                        {% block swag_migration_wizard_page_credentials_apiuser_icon %}
                            <template #suffix>
                                <sw-icon name="regular-user" />
                            </template>
                        {% endblock %}
                    </sw-text-field>
                {% endblock %}

                {% block swag_migration_wizard_page_credentials_endpoint_field %}
                    <sw-url-field
                                  v-model:value="inputCredentials.endpoint"
                                  :validation="inputCredentials.endpoint !== 'http://' && inputCredentials.endpoint !== 'https://'"
                                  :label="$tc('swag-migration.wizard.pages.credentials.shopware55.api.endpointLabel')"
                                  :placeholder="$tc('swag-migration.wizard.pages.credentials.shopware55.api.endpointPlaceholder')"
                                  :switch-label="$tc('swag-migration.wizard.pages.credentials.shopware55.api.endpointSSLLabel')" />
                {% endblock %}
            </div>
            {% endblock %}
        </div>
    {% endblock %}
</div>
