{% block swag_migration_wizard_page_profile_installation %}
    <div class="swag-migration-wizard swag-migration-wizard-page-profile-installation">

        {% block swag_migration_wizard_page_profile_installation_content %}
            <div class="swag-migration-wizard__content">

                {% block swag_migration_wizard_page_profile_installation_information %}
                    <div class="swag-migration-wizard__content-information">
                        {{ $tc('swag-migration.wizard.pages.profileInstallation.content') }}
                    </div>
                {% endblock %}

                {% block swag_migration_wizard_page_profile_installation_plugins %}
                    <div class="swag-migration-wizard-profile-installation__plugins">

                        {% block swag_migration_wizard_page_profile_installation_availabilty_headline %}
                            <div class="swag-migration-wizard-profile-installation__availability-headline">
                                {{ $tc('swag-migration.wizard.pages.profileInstallation.availabilityHeadline') }}
                            </div>
                        {% endblock %}

                        {% block swag_migration_wizard_page_profile_installation_wrapper %}
                            <div class="swag-migration-wizard-profile-installation__wrapper">

                                {% block swag_migration_wizard_page_profile_installation_shopware_inner_wrapper %}
                                    <div class="swag-migration-wizard-profile-installation__inner_wrapper">

                                        {% block swag_migration_wizard_page_profile_installation_shopware_plugin_icon %}
                                            <div class="swag-migration-wizard-profile-installation__plugin_icon_column">
                                                <img class="swag-migration-wizard-profile-installation__plugin-icon"
                                                     :src="assetFilter('/swagmigrationassistant/static/img/wizard-shopware6-profile-avatar.svg')"
                                                     alt="">
                                            </div>
                                        {% endblock %}

                                        {% block swag_migration_wizard_page_profile_installation_shopware_plugin_information %}
                                            <div class="swag-migration-wizard-profile-installation__plugin_information_column">

                                                {% block swag_migration_wizard_page_profile_installation_shopware_headline %}
                                                    <div class="swag-migration-wizard-profile-installation__profile_headline">
                                                         {{ $tc('swag-migration.wizard.pages.profileInstallation.shopwareProfileHeadline') }}
                                                    </div>
                                                {% endblock %}

                                                {% block swag_migration_wizard_page_profile_installation_shopware_manufacturer %}
                                                    <div class="swag-migration-wizard-profile-installation__profile_manufacturer">
                                                        {{ $tc('swag-migration.wizard.pages.profileInstallation.profileManufacturer') }}
                                                    </div>
                                                {% endblock %}

                                                {% block swag_migration_wizard_page_profile_installation_shopware_available_version_headline %}
                                                    <div class="swag-migration-wizard-profile-installation__available_version_headline">
                                                        {{ $tc('swag-migration.wizard.pages.profileInstallation.availableVersionHeadline') }}
                                                    </div>
                                                {% endblock %}

                                                {% block swag_migration_wizard_page_profile_installation_shopware_available_version_list %}
                                                    <div class="swag-migration-wizard-profile-installation__available_version_list">
                                                        <span class="swag-migration-wizard-profile-installation__version_box">5.4</span>
                                                        <span class="swag-migration-wizard-profile-installation__version_box">5.5</span>
                                                        <span class="swag-migration-wizard-profile-installation__version_box">5.6</span>
                                                        <span class="swag-migration-wizard-profile-installation__version_box">5.7</span>
                                                        <span class="swag-migration-wizard-profile-installation__last_version_box">{{ version }}</span>
                                                    </div>
                                                {% endblock %}

                                                {% block swag_migration_wizard_page_profile_installation_shopware_installed_box %}
                                                    <div class="swag-migration-wizard-profile-installation__footer swag-migration-wizard-profile-installation__installed_box">
                                                        <span class="swag-migration-wizard-profile-installation__installed_img">
                                                            <sw-icon name="regular-check-circle-s"
                                                                     size="16px" />
                                                        </span>
                                                        <span class="swag-migration-wizard-profile-installation__installed_title">{{ $tc('swag-migration.wizard.pages.profileInstallation.installedHint') }}</span>
                                                    </div>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block swag_migration_wizard_page_profile_installation_magento_inner_wrapper %}
                                    <div class="swag-migration-wizard-profile-installation__shopware-plugin swag-migration-wizard-profile-installation__inner_wrapper">

                                        {% block swag_migration_wizard_page_profile_installation_magento_plugin_icon %}
                                            <div class="swag-migration-wizard-profile-installation__plugin_icon_column">
                                                <img class="swag-migration-wizard-profile-installation__plugin-icon"
                                                     :src="assetFilter('/swagmigrationassistant/static/img/magento-profile-icon.svg')"
                                                     alt="">
                                            </div>
                                        {% endblock %}

                                        {% block swag_migration_wizard_page_profile_installation_magento_plugin_information %}
                                            <div class="swag-migration-wizard-profile-installation__plugin_information_column">

                                                {% block swag_migration_wizard_page_profile_installation_magento_headline %}
                                                    <div class="swag-migration-wizard-profile-installation__profile_headline">
                                                        {{ $tc('swag-migration.wizard.pages.profileInstallation.magentoProfileHeadline') }}
                                                    </div>
                                                {% endblock %}

                                                {% block swag_migration_wizard_page_profile_installation_magento_manufacturer %}
                                                    <div class="swag-migration-wizard-profile-installation__profile_manufacturer">
                                                        {{ $tc('swag-migration.wizard.pages.profileInstallation.profileManufacturer') }}
                                                    </div>
                                                {% endblock %}

                                                {% block swag_migration_wizard_page_profile_installation_magento_available_version_headline %}
                                                    <div class="swag-migration-wizard-profile-installation__available_version_headline">
                                                        {{ $tc('swag-migration.wizard.pages.profileInstallation.availableVersionHeadline') }}
                                                    </div>
                                                {% endblock %}

                                                {% block swag_migration_wizard_page_profile_installation_magento_available_version_list %}
                                                    <div class="swag-migration-wizard-profile-installation__available_version_list">
                                                        <span class="swag-migration-wizard-profile-installation__version_box">1.9</span>
                                                        <span class="swag-migration-wizard-profile-installation__version_box">2.0</span>
                                                        <span class="swag-migration-wizard-profile-installation__version_box">2.1</span>
                                                        <span class="swag-migration-wizard-profile-installation__version_box">2.2</span>
                                                        <span class="swag-migration-wizard-profile-installation__last_version_box">2.3</span>
                                                    </div>
                                                {% endblock %}

                                                {% block swag_migration_wizard_page_profile_installation_magento_install_button_box %}
                                                    <div v-if="!isInstalled"
                                                         class="swag-migration-wizard-profile-installation__footer">

                                                        {% block swag_migration_wizard_page_profile_installation_magento_install_button_box_content %}
                                                            <sw-button-process
                                                                    class="swag-migration-wizard-profile-installation__installation_button"
                                                                    size="small"
                                                                    variant="primary"
                                                                    :is-loading="pluginIsLoading"
                                                                    :disabled="pluginIsLoading"
                                                                    :process-success="pluginIsSaveSuccessful"
                                                                    @click="onInstall">
                                                                {{ $tc('swag-migration.wizard.pages.profileInstallation.installationButton') }}
                                                            </sw-button-process>
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}

                                                {% block swag_migration_wizard_page_profile_installation_magento_installed_box %}
                                                    <div v-else
                                                         class="swag-migration-wizard-profile-installation__footer swag-migration-wizard-profile-installation__installed_box">

                                                        {% block swag_migration_wizard_page_profile_installation_magento_installed_box_content %}
                                                            <span class="swag-migration-wizard-profile-installation__installed_img">
                                                                <sw-icon name="regular-check-circle-s"
                                                                         size="16px" />
                                                            </span>
                                                            <span class="swag-migration-wizard-profile-installation__installed_title">{{ $tc('swag-migration.wizard.pages.profileInstallation.installedHint') }}</span>
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
