{% block swag_migration_confirm_warning %}
    <div class="swag-migration-confirm-warning">

        {% block swag_migration_confirm_warning_card %}
            <sw-card
                v-if="hasDifferentCurrency"
                class="swag-migration-confirm-warning__card"
                position-identifier="swag-migration-confirm-warning__card"
            >

                {% block swag_migration_confirm_warning_bubble %}
                    <div class="swag-migration-confirm-warning__bubble">
                        <sw-icon class="swag-migration-confirm-warning__bubble-icon"
                                 name="regular-exclamation-triangle"
                                 size="36px"
                                 decorative />
                    </div>
                {% endblock %}

                {% block swag_migration_confirm_warning_title %}
                    <h5 class="swag-migration-confirm-warning__title">
                        {{ $tc('swag-migration.index.confirmWarningCard.currencyMismatch.title') }}
                    </h5>
                {% endblock %}

                {% block swag_migration_confirm_warning_text %}
                    <p class="swag-migration-confirm-warning__text">
                        {{ $tc('swag-migration.index.confirmWarningCard.currencyMismatch.text', 0, { sourceSystemCurrency, targetSystemCurrency }) }}
                    </p>
                {% endblock %}

                {% block swag_migration_confirm_warning_alert %}
                    <sw-alert
                        variant="error"
                        class="swag-migration-confirm-warning__alert"
                    >
                        {{ $tc('swag-migration.index.confirmWarningCard.currencyMismatch.info') }}
                    </sw-alert>
                {% endblock %}

                {% block swag_migration_confirm_warning_question %}
                    <p class="swag-migration-confirm-warning__question">
                        {{ $tc('swag-migration.index.confirmWarningCard.currencyMismatch.question', 0, { targetSystemCurrency }) }}
                    </p>
                {% endblock %}

                {% block swag_migration_confirm_warning_checkbox %}
                    <sw-checkbox-field v-model:value="isCurrencyChecked"
                                       class="swag-migration-confirm-warning__checkbox"
                                       :label="$tc('swag-migration.index.confirmWarningCard.currencyMismatch.checkboxLabel')"
                                       @update:value="onCheckboxValueChanged" />
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block swag_migration_confirm_language_warning_card %}
            <sw-card
                v-if="hasDifferentLanguage"
                class="swag-migration-confirm-warning__card"
                position-identifier="swag-migration-confirm-warning__card"
            >

                {% block swag_migration_confirm_language_warning_bubble %}
                    <div class="swag-migration-confirm-warning__bubble">
                        <sw-icon class="swag-migration-confirm-warning__bubble-icon"
                                 name="regular-exclamation-triangle"
                                 size="36px"
                                 decorative />
                    </div>
                {% endblock %}

                {% block swag_migration_confirm_language_warning_title %}
                    <h5 class="swag-migration-confirm-warning__title">
                        {{ $tc('swag-migration.index.confirmWarningCard.languageMismatch.title') }}
                    </h5>
                {% endblock %}

                {% block swag_migration_confirm_language_warning_text %}
                    <p class="swag-migration-confirm-warning__text">
                        {{ $tc('swag-migration.index.confirmWarningCard.languageMismatch.text', 0, { sourceSystemLanguage, targetSystemLanguage }) }}
                    </p>
                {% endblock %}

                {% block swag_migration_confirm_language_warning_alert %}
                    <sw-alert
                        variant="error"
                        class="swag-migration-confirm-warning__alert"
                    >
                        {{ $tc('swag-migration.index.confirmWarningCard.languageMismatch.info') }}
                    </sw-alert>
                {% endblock %}

                {% block swag_migration_confirm_language_warning_question %}
                    <p class="swag-migration-confirm-warning__question">
                        {{ $tc('swag-migration.index.confirmWarningCard.languageMismatch.question', 0, { targetSystemLanguage }) }}
                    </p>
                {% endblock %}

                {% block swag_migration_confirm_language_warning_checkbox %}
                    <sw-checkbox-field v-model:value="isLanguageChecked"
                                       class="swag-migration-confirm-warning__checkbox"
                                       :label="$tc('swag-migration.index.confirmWarningCard.currencyMismatch.checkboxLabel')"
                                       @update:value="onCheckboxValueChanged" />
                {% endblock %}
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}
