{% block swag_migration_empty_screen %}
    <sw-page class="swag-migration-empty-screen">

        {% block swag_migration_index_smart_bar_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    {{ $tc('swag-migration.general.mainMenuItemGeneral') }}
                </h2>
            </template>
        {% endblock %}

        {% block swag_migration_index_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button variant="primary" disabled>
                    {{ $tc('swag-migration.index.migrateButton') }}
                </sw-button>
            </template>
        {% endblock %}

        {% block swag_migration_index_content %}
            <template #content>
                <sw-empty-state :title="$tc('swag-migration.emptyScreen.title')">
                    <i18n class="swag-migration-empty-screen__description"
                          path="swag-migration.emptyScreen.description"
                          tag="p">
                        <br place="linebreak">
                        <a class="link"
                           place="link"
                           href="https://docs.shopware.com/en/migration-en"
                           target="_blank">
                            {{ $tc('swag-migration.emptyScreen.link') }}
                        </a>
                    </i18n>
                    <sw-button variant="primary"
                               @click="onConnectClick">
                        {{ $tc('swag-migration.emptyScreen.connectButton') }}
                    </sw-button>
                </sw-empty-state>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}