@import "~scss/variables";

.swag-migration-media-process {
    .swag-migration-media-process__content {
        text-align: center;
        font-size: 12pt;
    }

    .swag-migration-media-process__title {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 600;
    }

    .swag-migration-media-process__message {
        padding-bottom: 28px;
    }

    .swag-migration-media-process__bubble {
        margin: 20px auto 20px auto;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: $color-shopware-brand-50;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swag-migration-media-process__icon {
        color: $color-shopware-brand-500;
    }
}