{% block swag_migration_flow_chart %}
    <div class="swag-migration-flow-chart">
        <slot>
            {% block swag_migration_flow_chart_slot %}
            {% endblock %}
        </slot>
    </div>
{% endblock %}