@import "~scss/variables";

.swag-migration-profile-shopware6-api-page-information {
    .swag-migration-profile-shopware6-api-page-information__icon {
        pointer-events: none;
        display: inline-block;
        margin-bottom: 16px;

        .sw-settings-item__icon {
            margin: 0;
            padding: 12px;
            border-radius: $border-radius-default;
            background-color: $color-neutrals-slate-100;
        }
    }

    .swag-migration-profile-shopware6-api-page-information__card {
        border: 1px solid $color-gray-300;
        border-radius: $border-radius-lg;
        padding: 16px;
        margin-bottom: 24px;

        .information__header {
            margin-bottom: 0;
        }

        .swag-migration-wizard__link {
            margin-top: 12px;
        }
    }
}
