{% block swag_migration_index_premapping %}
    <div class="swag-migration-card_premapping">
        <sw-card :title="$tc('swag-migration.index.premappingCard.title') + $tc(`swag-migration.index.premappingCard.group.${currentGroup.entity}`)"
                 v-for="currentGroup in premapping" :key="currentGroup.entity">
            {% block swag_migration_index_premapping_card_content %}
                <sw-field v-for="currentMappingKey in Object.keys(currentGroup.mapping)"
                          :key="currentMappingKey"
                          type="select"
                          :label="currentGroup.mapping[currentMappingKey].description"
                          v-model="currentGroup.mapping[currentMappingKey].destinationUuid"
                          :placeholder="$tc('swag-migration.index.premappingCard.placeholder')"
                          @input="validatePremapping"
                          validation="required">
                        <option slot="options" v-for="choice in currentGroup.choices" :value="choice.uuid">
                            {{ choice['description'] }}
                        </option>
                </sw-field>
            {% endblock %}
        </sw-card>
    </div>
{% endblock %}