{% block swag_migration_wizard_page_credentials %}
    <div class="swag-migration-wizard-page-credentials">
        {% block swag_migration_wizard_page_credentials_forms %}
            <swag-migration-profile-shopware55-api-credential-form v-if="profileName === 'shopware55' && gatewayName === 'api'"
                                                           :credentials="credentials"
                                                           @onCredentialsChanged="$emit('onCredentialsChanged', $event)"
                                                           @onCredentialsValidationChanged="$emit('onCredentialsValidationChanged', $event)">
            </swag-migration-profile-shopware55-api-credential-form>
        {% endblock %}

        {% block swag_migration_wizard_page_credentials_no_form_found %}
            <template class="swag-migration-wizard-page-credentials__empty_state" v-else>
                {% block swag_migration_wizard_page_credentials_no_form_found_content %}
                    {{ $tc('swag-migration.wizard.pages.credentials.emptyState') }}
                {% endblock %}
            </template>
        {% endblock %}
    </div>
{% endblock %}