.swag-migration-loading-screen {
    .swag-migration-loading-screen__header {
        text-align: center;
        margin: var(--scale-size-4) auto var(--scale-size-32) auto;
    }

    .swag-migration-loading-screen__title {
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-semibold);
        padding-bottom: var(--scale-size-4);
    }

    .swag-migration-loading-screen__caption {
        font-size: var(--font-size-xs);
        color: var(--color-text-secondary-default);
    }

    .swag-migration-loading-screen__progress-bar-group {
        display: grid;
        margin: 0 10%;

        .sw-progress-bar {
            padding: 0 var(--scale-size-10) 0 var(--scale-size-10);
        }
    }

    .swag-migration-loading-screen__progress-bar-title {
        text-align: center;
        margin: var(--scale-size-14) auto var(--scale-size-10) auto;
        font-size: var(--font-size-xs);
    }

    .sw-loader.swag-migration-loading-screen__loader {
        position: relative;
        margin: var(--scale-size-48) auto var(--scale-size-48) auto;

        .sw-loader__container {
            transform: translate(-50%);
        }
    }

    .swag-migration-loading-screen__hint {
        margin-top: var(--scale-size-56);
        margin-bottom: 0;
    }

    .swag-migration-loading-screen__alert-icon {
        color: var(--color-icon-primary-default);
        position: absolute;
        display: block;
        left: var(--scale-size-14);
        top: var(--scale-size-14);
    }

    .swag-migration-loading-screen__content {
        padding-bottom: var(--scale-size-48);
    }

    .swag-migration-loading-screen__notice {
        margin-bottom: var(--scale-size-48);
    }
}
