.swag-migration-error-resolution-field {
    margin-bottom: var(--scale-size-20);

    .mt-switch {
        margin-top: var(--scale-size-8);
    }

    .mt-field,
    .sw-field {
        margin-bottom: 0;
    }
}
