.swag-migration-history-detail__modal {
    .swag-migration-history-detail__header {
        font-weight: bold;
        padding-bottom: 10px;
        display: block;
    }

    .swag-migration-history-detail__content {
        padding-left: 20px;
    }
}
