.swag-migration-data-selector {
    .swag-migration-data-selector__warning {
        max-width: 60rem;
        margin: 0 auto var(--scale-size-40) auto;
    }

    .swag-migration-index-data-selector__no-data {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .mt-empty-state {
            place-items: center;
        }
    }

    .sw-grid-row.is--disabled .sw-grid__cell-content {
        color: var(--color-text-primary-disabled);
    }

    .swag-migration-data-selector__help-text {
        margin-left: var(--scale-size-4);
    }

    .swag-migration-data-selector__help-text-placeholder {
        width: var(--scale-size-14);
        height: var(--scale-size-14);
        margin-left: var(--scale-size-4);
    }
}
