{% block swag_migration_premapping %}
    <div class="swag-migration-premapping">

        {% block swag_migration_premapping_unfilled_card %}
            <sw-card
                v-if="!isPremappingValid"
                class="swag-migration-premapping__unfilled-card"
                position-identifier="swag-migration-premapping"
            >

                {% block swag_migration_premapping_unfilled_title %}
                    <div class="swag-migration-premapping__unfilled-title">
                        {{ $tc('swag-migration.index.premappingCard.unfilledTitle') }}
                    </div>
                {% endblock %}

                {% block swag_migration_premapping_unfilled_caption %}
                    <div class="swag-migration-premapping__unfilled-caption">
                        {{ $tc('swag-migration.index.premappingCard.unfilledCaption') }}
                    </div>
                {% endblock %}

                {% block swag_migration_premapping_unfilled_alert %}
                    <sw-alert v-if="!isPremappingValid"
                              class="swag-migration-premapping__alert"
                              variant="error">
                        {{ $tc('swag-migration.index.premappingCard.unfilledAlert') }}
                    </sw-alert>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block swag_migration_premapping_success_card %}
            <sw-card v-if="!isLoading && isPremappingValid"
                     class="swag-migration-premapping__success-card"
                     position-identifier="swag-migration-premapping__success-card">

                {% block swag_migration_premapping_success_bubble %}
                    <div class="swag-migration-premapping__success-bubble">
                        <sw-icon class="swag-migration-premapping__success-icon"
                                 name="regular-checkmark"
                                 size="36px"
                                 decorative />
                    </div>
                {% endblock %}

                {% block swag_migration_premapping_success_title %}
                    <div class="swag-migration-premapping__success-title">
                        {{ $tc('swag-migration.index.premappingCard.validTitle') }}
                    </div>
                {% endblock %}

                {% block swag_migration_premapping_success_caption %}
                    <div class="swag-migration-premapping__success-caption">
                        {{ $tc('swag-migration.index.premappingCard.validCaption') }}
                    </div>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block swag_migration_premapping_unfilled_mapping %}
            <swag-migration-tab-card
                v-if="!isLoading && premapping.length > 0"
                class="swag-migration-premapping__tab-card"
                :title="$tc('swag-migration.index.premappingCard.cardTitle')"
                :items="premapping"
            >
                <template #items="{ item }">
                    <swag-migration-grid-selection
                        :choices="item.choices"
                        :mapping="item.mapping"
                        @update:value="onPremappingChanged"
                    />
                </template>
            </swag-migration-tab-card>
        {% endblock %}

        <sw-card v-if="isLoading"
                 class="swag-migration-premapping__loading-card"
                 position-identifier="swag-migration-premapping__loading-card">
            <div>

                {% block swag_migration_premapping_loader %}
                    <sw-loader class="swag-migration-premapping__loader" />
                {% endblock %}

                {% block swag_migration_premapping_loading_title %}
                    <div class="swag-migration-premapping__loading-title">
                        {{ $tc('swag-migration.index.premappingCard.loadingTitle') }}
                    </div>
                {% endblock %}

                {% block swag_migration_premapping_loading_caption %}
                    <div class="swag-migration-premapping__loading-caption">
                        {{ $tc('swag-migration.index.premappingCard.loadingCaption') }}
                    </div>
                {% endblock %}
            </div>
        </sw-card>
    </div>
{% endblock %}
