@import "~less/variables";

.swag-migration-index {

    .swag-migration-index__metadata {
        display: grid;
        grid-template-columns: 120px 1fr;

        .swag-migration-index__metadata-shop-domain {
            font-weight: 600;
            font-size: @font-size-default;
            margin-bottom: 8px;
        }

        .swag-migration-index__metadata-shopware-version {
            font-size: @font-size-small;
        }

        .swag-migration-index__actions {
            margin-top: 20px;

            .sw-button {
                margin-right: 6px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}
