{% block swag_migration_index %}
    <sw-page class="swag-migration-index" :isLoading="true">
        {% block swag_migration_index_smart_bar_header %}
            <template slot="smart-bar-header">
            <h2>
                {{ $tc('sw-settings.index.title') }}
                <sw-icon name="small-arrow-medium-right" small></sw-icon>
                {{ $tc('swag-migration.general.mainMenuItemGeneral') }}
            </h2>
            </template>
        {% endblock %}

        {% block swag_migration_index_smart_bar_actions %}
            <template slot="smart-bar-actions">
                <sw-button v-if="abortButtonVisible" @click="onAbortButtonClick">
                    {{ $tc('swag-migration.index.abortButton') }}
                </sw-button>
                <sw-button v-if="backButtonVisible" @click="onBackButtonClick">
                    {{ $tc('swag-migration.index.backButton') }}
                </sw-button>
                <sw-button variant="primary" v-if="migrateButtonVisible" @click="onMigrateButtonClick" :disabled="migrateButtonDisabled">
                    {{ $tc('swag-migration.index.migrateButton') }}
                </sw-button>
                <sw-button variant="primary" v-if="pauseButtonVisible" @click="onPauseButtonClick">
                    {{ $tc('swag-migration.index.pauseButton') }}
                </sw-button>
                <sw-button variant="primary" v-if="continueButtonVisible" @click="onContinueButtonClick">
                    {{ $tc('swag-migration.index.continueButton') }}
                </sw-button>
            </template>
        {% endblock %}

        {% block swag_migration_index_content %}
            <sw-card-view slot="content"  v-if="!isLoading">
                {% block swag_migration_index_card_shopInfo %}
                    <sw-card :title="$tc('swag-migration.index.shopInfoCard.cardTitle')">
                        {% block swag_migration_index_card_shopInfo_content %}

                            {% block swag_migration_index_card_shopInfo_metaData %}
                                <div class="swag-migration-index__metadata">
                                    {% block swag_migration_index_card_shopInfo_metaData_avatar %}
                                        <sw-avatar class="swag-migration-index__metadata_avatar"
                                                   color="#189EFF"
                                                   size="80px">{{ shopFirstLetter }}</sw-avatar>
                                    {% endblock %}

                                    {% block swag_migration_index_card_shopInfo_metaData_info %}
                                        <div class="swag-migration-index__metadata_info">
                                            {% block swag_migration_index_card_shopInfo_metaData_domain %}
                                                <div class="swag-migration-index__metadata-shop-domain">
                                                    {{ shopDomain }}
                                                </div>
                                            {% endblock %}

                                            {% block swag_migration_index_card_shopInfo_metaData_version %}
                                                <div class="swag-migration-index__metadata-shopware-version">
                                                    {{ shopVersion }}
                                                </div>
                                            {% endblock %}

                                            {% block swag_migration_index_card_shopInfo_actions %}
                                                <div class="swag-migration-index__actions">
                                                    {% block swag_migration_index_card_shopInfo_actions_editSettings %}
                                                        <sw-button size="small" @click="editSettings" :disabled="isMigrating || isPaused">
                                                            <sw-icon name="small-pencil" small></sw-icon>
                                                            {{ $tc('swag-migration.index.shopInfoCard.buttonEditSettings') }}
                                                        </sw-button>
                                                    {% endblock %}

                                                    {% block swag_migration_index_card_shopInfo_actions_moreInfo %}
                                                        <sw-button size="small" disabled>
                                                            <sw-icon name="small-pencil" small></sw-icon>
                                                            {{ $tc('swag-migration.index.shopInfoCard.buttonMoreInfo') }}
                                                        </sw-button>
                                                    {% endblock %}
                                                </div>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endblock %}
                    </sw-card>
                {% endblock %}

                {% block swag_migration_index_card_dataSelector %}
                    <swag-migration-data-selector ref="dataSelector"
                                                  :tableData="tableData"
                                                  v-if="componentIndex === 0"
                                                  @swag-migration-data-selector-migration-allowed="onMigrationAllowed">
                    </swag-migration-data-selector>
                {% endblock %}

                {% block swag_migration_index_card_loadingScreen %}
                    <swag-migration-loading-screen v-if="componentIndex === 1" profileName="Shopware 5"
                                                   :tableData="tableData"
                                                   :statusIndex="statusIndex">
                    </swag-migration-loading-screen>
                {% endblock %}

                {% block swag_migration_index_card_loadingScreen_success %}
                    <swag-migration-loading-screen-success v-if="componentIndex === 2">
                    </swag-migration-loading-screen-success>
                {% endblock %}

                {% block swag_migration_index_card_loadingScreen_warning %}
                    <swag-migration-loading-screen-warning v-if="componentIndex === 3"
                                                           :errorList="errorList">
                    </swag-migration-loading-screen-warning>
                {% endblock %}

                {% block swag_migration_index_card_loadingScreen_failure %}
                    <swag-migration-loading-screen-failure v-if="componentIndex === 4">
                    </swag-migration-loading-screen-failure>
                {% endblock %}

                {% block swag_migration_index_card_loadingScreen_pause %}
                    <swag-migration-loading-screen-pause v-if="componentIndex === 5">
                    </swag-migration-loading-screen-pause>
                {% endblock %}

                {% block swag_migration_index_modal_migration_confirmDialog %}
                    <sw-modal v-if="showMigrationConfirmDialog"
                              :title="$tc('swag-migration.index.confirmDialog.title')"
                              :isLoading="isMigrating"
                              @closeModal="onCloseMigrationConfirmDialog"
                              variant="small">

                        {% block swag_migration_index_modal_migration_confirmDialog_message %}
                            <p class="swag-migration-index-modal-migration-confirm-dialog-message">
                                {{ $tc('swag-migration.index.confirmDialog.message') }}
                            </p>
                        {% endblock %}

                        {% block swag_migration_index_modal_migration_confirmDialog_footer %}
                            <template slot="modal-footer">
                                {% block swag_migration_index_modal_migration_confirmDialog_footer_cancelAction %}
                                    <sw-button @click="onCloseMigrationConfirmDialog"
                                               size="small">
                                        {{ $tc('swag-migration.index.confirmDialog.cancel') }}
                                    </sw-button>
                                {% endblock %}

                                {% block swag_migration_index_modal_migration_confirmDialog_footer_confirmAction %}
                                    <sw-button @click="onMigrate"
                                               variant="primary"
                                               size="small">
                                        {{ $tc('swag-migration.index.confirmDialog.confirm') }}
                                    </sw-button>
                                {% endblock %}
                            </template>
                        {% endblock %}
                    </sw-modal>
                {% endblock %}

                {% block swag_migration_index_modal_abort_migration_confirmDialog %}
                    <sw-modal v-if="showAbortMigrationConfirmDialog"
                              :title="$tc('swag-migration.index.confirmAbortDialog.title')"
                              @closeModal="onCloseAbortMigrationConfirmDialog"
                              variant="small">

                        <sw-alert variant="warning"
                                  class="swag-migration-index-data-selector__tou">
                            <p v-html="$tc('swag-migration.index.confirmAbortDialog.hintContent')"></p>
                        </sw-alert>

                        {% block swag_migration_index_modal_abort_migration_confirmDialog_message %}
                        <p class="swag-migration-index-modal-abort-migration-confirm-dialog-message">
                            {{ $tc('swag-migration.index.confirmAbortDialog.message') }}
                        </p>
                        {% endblock %}

                        {% block swag_migration_index_modal_abort_migration_confirmDialog_footer %}
                        <template slot="modal-footer">
                            {% block swag_migration_index_modal_abort_migration_confirmDialog_footer_cancelAction %}
                            <sw-button @click="onCloseAbortMigrationConfirmDialog"
                                       size="small">
                                {{ abortMigrationBackText }}
                            </sw-button>
                            {% endblock %}

                            {% block swag_migration_index_modal_abort_migration_confirmDialog_footer_confirmAction %}
                            <sw-button @click="onMigrationAbort"
                                       variant="primary"
                                       size="small">
                                {{ $tc('swag-migration.index.confirmAbortDialog.confirm') }}
                            </sw-button>
                            {% endblock %}
                        </template>
                        {% endblock %}
                    </sw-modal>
                {% endblock %}
            </sw-card-view>
        {% endblock %}

        {% block swag_migration_index_loader %}
        <sw-loader slot="content" v-if="isLoading"></sw-loader>
        {% endblock %}
    </sw-page>
{% endblock %}
