{% block swag_migration_index %}
    <sw-page class="swag-migration-index" :isLoading="true">
        {% block swag_migration_index_smart_bar_header %}
            <template slot="smart-bar-header">
            <h2>
                {{ $tc('sw-settings.index.title') }}
                <sw-icon name="small-arrow-medium-right" small></sw-icon>
                {{ $tc('swag-migration.general.mainMenuItemGeneral') }}
            </h2>
            </template>
        {% endblock %}

        {% block swag_migration_index_smart_bar_actions %}
            <template slot="smart-bar-actions">
                <sw-button v-if="abortButtonVisible" @click="onActionButtonClick('onAbortButtonClick')">
                    {{ $tc('swag-migration.index.abortButton') }}
                </sw-button>
                <sw-button v-if="backButtonVisible" @click="onActionButtonClick('onBackButtonClick')">
                    {{ $tc('swag-migration.index.backButton') }}
                </sw-button>
                <sw-button variant="primary" v-if="migrateButtonVisible" @click="onActionButtonClick('onMigrateButtonClick')" :disabled="migrateButtonDisabled">
                    {{ $tc('swag-migration.index.migrateButton') }}
                </sw-button>
                <sw-button variant="primary" v-if="pauseButtonVisible" @click="onActionButtonClick('onPauseButtonClick')" :disabled="pauseButtonDisabled">
                    {{ $tc('swag-migration.index.pauseButton') }}
                </sw-button>
                <sw-button variant="primary" v-if="continueButtonVisible" @click="onActionButtonClick('onContinueButtonClick')">
                    {{ $tc('swag-migration.index.continueButton') }}
                </sw-button>
            </template>
        {% endblock %}

        {% block swag_migration_index_content %}
            <sw-card-view slot="content">
                {% block swag_migration_index_tabs %}
                    <sw-tabs class="swag-migration-index-tabs">
                        {% block swag_migration_index_tab_main %}
                            <sw-tabs-item :route="{ name: 'swag.migration.index.main' }"
                                          :title="$tc('swag-migration.general.tabMain')">
                                {{ $tc('swag-migration.general.tabMain') }}
                            </sw-tabs-item>
                        {% endblock %}

                        {% block swag_migration_index_tab_history %}
                            <sw-tabs-item :route="{ name: 'swag.migration.index.history' }"
                                          :title="$tc('swag-migration.general.tabHistory')">
                                {{ $tc('swag-migration.general.tabHistory') }}
                            </sw-tabs-item>
                        {% endblock %}
                    </sw-tabs>
                {% endblock %}

                {% block swag_migration_index_content_view %}
                    <router-view ref="contentComponent"
                                 @buttonStateChanged="onActionButtonStateChanged">
                    </router-view>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
