.swag-migration-history-detail__modal {
    .swag-migration-history-detail__loading-placeholder {
        height: var(--scale-size-96);
    }

    .swag-migration-history-detail__header {
        display: flex;
        align-items: stretch;
    }

    .swag-migration-history-detail__header-wrapper {
        display: flex;
        gap: var(--scale-size-10);
        flex: 1;
    }

    .swag-migration-history-detail__header-profile-avatar {
        height: 100%;
    }

    .swag-migration-history-detail__connection-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: var(--font-line-height-xs);
        font-size: var(--font-size-xs);
    }

    .swag-migration-history-detail__status {
        margin: 0;
    }

    .swag-migration-history-detail__status-dot {
        margin: auto var(--scale-size-6) auto auto;
    }

    .swag-migration-history-detail__status-text {
        margin: auto 0;
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-semibold);
    }

    .swag-migration-history-detail__connection-name {
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-semibold);
        line-height: var(--font-line-height-s);
    }

    .swag-migration-history-detail__shop-domain-prefix {
        color: var(--color-icon-attention-default);
    }

    .swag-migration-shop-information__shop-domain-prefix--is-ssl {
        color: var(--color-text-primary-default);
    }

    .swag-migration-history-detail__run-info {
        display: flex;
        flex: 1;
        height: auto;
        text-align: right;
        flex-direction: column;
        justify-content: space-between;
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-2xs);
        padding: var(--scale-size-2) var(--scale-size-16) var(--scale-size-2) 0;
    }

    .sw-tabs__custom-content {
        display: none;
    }

    .sw-tabs {
        margin-bottom: 0;
    }

    .swag-migration-history-detail__body {
        padding-top: var(--scale-size-16);
    }
}
