@import "~scss/variables";

.swag-migration-history-detail__modal {
    .swag-migration-history-detail__loading-placeholder {
        height: 100px;
    }

    .swag-migration-history-detail__header {
        display: grid;
        grid-template-columns: 80px 1fr min-content;
    }

    .swag-migration-history-detail__connection-info {
        padding-left: var(--scale-size-16);
        line-height: var(--font-line-height-xs);
        font-size: var(--font-size-2xs);
    }

    .swag-migration-history-detail__connection-name {
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-semibold);
        line-height: var(--font-line-height-s);
    }

    .swag-migration-history-detail__shop-domain-prefix {
        color: var(--color-icon-attention-default);
    }

    .swag-migration-shop-information__shop-domain-prefix--is-ssl {
        color: var(--color-text-positive-default);
    }

    .swag-migration-history-detail__run-info {
        white-space: nowrap;
        font-size: var(--font-size-2xs);
        line-height: var(--font-line-height-2xs);
        padding-right: var(--scale-size-16);
    }

    .swag-migration-history-detail__run-status-label {
        margin-top: var(--scale-size-4);
    }

    .swag-migration-history-detail__run-timestamp-value,
    .swag-migration-history-detail__run-status-value {
        font-weight: var(--font-weight-semibold);
    }

    .swag-migration-history-detail__run-status-value {
        color: var(--color-text-secondary-default);
    }

    .swag-migration-history-detail__run-status-value--finished {
        color: var(--color-text-positive-default);
    }

    .swag-migration-history-detail__run-status-value--aborted {
        color: var(--color-text-critical-default);
    }

    .sw-tabs__custom-content {
        display: none;
    }

    .sw-tabs {
        margin-bottom: 0;
    }

    .swag-migration-history-detail__body {
        padding-top: var(--scale-size-16);
    }
}
