@import "~scss/variables";

.swag-migration-assistant {
    h4.swag-migration-assistant__headline {
        font-size: 32px;
        text-align: center;
        margin: 0;
        padding-top: 10px;
    }

    .swag-migration-assistant__paragraph {
        text-align: center;
        width: 80%;
        margin: 80px auto 0 auto;

        &:first-of-type {
            margin-top: 64px;
        }

        &:last-of-type {
            margin-top: 40px;
        }
    }

    .swag-migration-assistant__illustration {
        width: 136px;
        display: block;
        margin: 0 auto;
        padding-bottom: 16px;
    }

    h5.swag-migration-assistant__title {
        font-weight: 600;
        margin-bottom: 8px;
    }

    .swag-migration-assistant__content {
        white-space: pre-line;
    }

    .swag-migration-assistant__content,
    .swag-migration-assistant__link a.link {
        font-size: $font-size-xxs;
        line-height: 22px;
    }
}
