.swag-migration-process-screen {
    .swag-migration-process-screen__step-display {
        position: absolute;
        padding-right: var(--scale-size-48);
        top: var(--scale-size-40);
        left: calc(50% - 28rem);
        transform: translate(-100%, 0);

        @media screen and (max-width: 100rem) {
            position: static;
            transform: none;
            padding: 0 0 var(--scale-size-10) 0;
            margin: var(--scale-size-14) 0 var(--scale-size-16) 0;
            text-align: center;

            .sw-step-item {
                display: inline-flex;
                flex-direction: column;
                margin-top: 0;
                width: var(--scale-size-80);

                &:before {
                    width: var(--scale-size-80);
                    height: var(--scale-size-2);
                    top: var(--scale-size-14);
                    transform: translate(-50%, 0);
                    z-index: -1;
                }

                .sw-step-item__description {
                    white-space: nowrap;
                    padding-left: 0;
                    padding-top: var(--scale-size-10);
                }
            }
        }

        @media screen and (max-width: 48rem) {
            .sw-step-item {
                width: var(--scale-size-56);

                &:before {
                    width: var(--scale-size-56);
                }

                .sw-step-item__description {
                    display: none;
                }

                &.sw-step-item--active {
                    .sw-step-item__description {
                        display: inline;
                    }
                }
            }
        }
    }

    .swag-migration-process-screen__confirm-warning {
        margin-top: var(--scale-size-32);
    }

    .sw-card {
        .sw-card__title {
            margin-bottom: var(--scale-size-12);
            font-size: var(--font-size-m);
            line-height: var(--font-line-height-xs);

            width: unset;
            position: unset;
            left: unset;
            top: unset;
            text-align: unset;
        }
    }
}

.swag-migration-index-modal-abort-migration-confirm-dialog {
    .sw-modal__body {
        padding: var(--scale-size-32);
    }

    .swag-migration-index-modal-abort-migration-confirm-dialog-content {
        text-align: center;
    }

    .swag-migration-index-modal-abort-migration-confirm-dialog-hint {
        text-align: center;
        font-weight: var(--font-weight-semibold);
        padding-top: var(--scale-size-32);
    }
}
