{% block swag_migration_index_data_selector %}
    <sw-card :title="$tc('swag-migration.index.selectDataCard.cardTitle')" class="swag-migration-data-selector">
        {% block swag_migration_index_data_selector_grid %}
            <sw-grid ref="tableDataGrid" :items="tableData" @sw-grid-select-item="onGridSelectItem">
                <template slot="columns" slot-scope="{ item }">
                    {% block swag_migration_index_data_selector_grid_column_data %}
                        <sw-grid-column flex="1fr" :label="$tc('swag-migration.index.selectDataCard.dataHeader')">
                            {{ item.data }}
                        </sw-grid-column>
                    {% endblock %}

                    {% block swag_migration_index_data_selector_grid_column_catalogue %}
                        <sw-grid-column flex="1fr" align=""
                                        :label="$tc('swag-migration.index.selectDataCard.targetHeader')">
                            <sw-field type="select"
                                      validation="required"
                                      v-model="item.targetId" v-show="!item.targetHidden"
                                      :disabled="item.targetDisabled">
                                <option slot="options" v-for="target in targets"
                                        :value="target.id">{{ target.name }}</option>
                            </sw-field>
                        </sw-grid-column>
                    {% endblock %}
                </template>
            </sw-grid>
        {% endblock %}

        {% block swag_migration_index_data_selector_gdpr %}
        <sw-alert variant="warning" class="swag-migration-index-data-selector__gdpr">
            <strong>{{ $tc('swag-migration.index.selectDataCard.gdprTitle') }}</strong>
            <div class="swag-migration-index-data-selector__gdpr_group">
                <p v-html="$tc('swag-migration.index.selectDataCard.gdprText')"></p>
            </div>
        </sw-alert>
        {% endblock %}

        {% block swag_migration_index_data_selector_alert %}
            <sw-alert variant="info" class="swag-migration-index-data-selector__alert">
                <strong>{{ $tc('swag-migration.index.selectDataCard.hintTitle') }} </strong>{{ $tc('swag-migration.index.selectDataCard.hint') }}
            </sw-alert>
        {% endblock %}
    </sw-card>
{% endblock %}