{% block swag_migration_index_data_selector %}
    <sw-card :title="$tc('swag-migration.index.selectDataCard.cardTitle')" class="swag-migration-data-selector">

        {% block swag_migration_index_data_selector_plugin_version %}
            <sw-alert variant="warning"
                      class="swag-migration-index-data-selector__plugin-version"
                      :title="$tc('swag-migration.index.selectDataCard.pluginVersionTitle')">
                {{ $tc('swag-migration.index.selectDataCard.pluginVersionText') }}
            </sw-alert>
        {% endblock %}

        {% block swag_migration_index_data_selector_grid %}
            <sw-grid ref="tableDataGrid"
                     :items="tableData"
                     @sw-grid-select-item="onGridSelectItem"
                     @sw-grid-select-all="onGridSelectItem"
                     v-if="tableData.length > 0">
                <template slot="columns" slot-scope="{ item }">
                    {% block swag_migration_index_data_selector_grid_column_data %}
                        <sw-grid-column flex="1fr" :label="$tc('swag-migration.index.selectDataCard.dataHeader')">
                            {{ item.data }}
                        </sw-grid-column>
                    {% endblock %}
                </template>
            </sw-grid>
            <div class="swag-migration-index-data-selector__no-data" v-else>
                <p class="swag-migration-index-data-selector__no-data--label">
                    {{ $tc('swag-migration.index.selectDataCard.noData') }}
                </p>
            </div>
        {% endblock %}

        {% block swag_migration_index_data_selector_gdpr %}
            <p class="swag-migration-index-data-selector__tou"
               v-html="$tc('swag-migration.index.selectDataCard.gdprText')">
            </p>
        {% endblock %}
    </sw-card>
{% endblock %}