{% block swag_migration_index_data_selector %}
    <sw-card :title="$tc('swag-migration.index.selectDataCard.cardTitle')" class="swag-migration-data-selector">
        {% block swag_migration_index_data_selector_grid %}
            <sw-grid ref="tableDataGrid"
                     :items="tableData"
                     @sw-grid-select-item="onGridSelectItem"
                     @sw-grid-select-all="onGridSelectItem">
                <template slot="columns" slot-scope="{ item }">
                    {% block swag_migration_index_data_selector_grid_column_data %}
                        <sw-grid-column flex="1fr" :label="$tc('swag-migration.index.selectDataCard.dataHeader')">
                            {{ item.data }}
                        </sw-grid-column>
                    {% endblock %}

                    {% block swag_migration_index_data_selector_grid_column_catalog %}
                        <sw-grid-column flex="1fr" align=""
                                        :label="$tc('swag-migration.index.selectDataCard.targetHeader')">
                            <sw-field type="select"
                                      validation="required"
                                      v-model="item.targetId">
                                <option slot="options" v-for="target in item.targets"
                                        :value="target.id">{{ target.name }}
                                </option>
                            </sw-field>
                        </sw-grid-column>
                    {% endblock %}
                </template>
            </sw-grid>
        {% endblock %}

        {% block swag_migration_index_data_selector_gdpr %}
        <sw-alert variant="warning"
                  class="swag-migration-index-data-selector__tou"
                  :title="$tc('swag-migration.index.selectDataCard.gdprTitle')">
                <p v-html="$tc('swag-migration.index.selectDataCard.gdprText')"></p>
        </sw-alert>
        {% endblock %}

        {% block swag_migration_index_data_selector_info %}
            <sw-alert variant="info"
                      :title="$tc('swag-migration.index.selectDataCard.infoTitle')">
                <p v-html="$tc('swag-migration.index.selectDataCard.infoText')"></p>
            </sw-alert>
        {% endblock %}

        {% block swag_migration_index_data_selector_alert %}
            <sw-alert variant="info"
                      :title="$tc('swag-migration.index.selectDataCard.hintTitle')">
                <p v-html="$tc('swag-migration.index.selectDataCard.hint')"></p>
            </sw-alert>
        {% endblock %}
    </sw-card>
{% endblock %}