.swag-migration-index-data-selector__alert {
    margin: 30px auto 0 auto !important;
}

.swag-migration-index-data-selector__gdpr {
    margin-top: 30px !important;

    .swag-migration-index-data-selector__gdpr_group {
        margin-top: 10px;

        .sw-field {
            margin: auto 0 auto 0;
        }
    }

}