.swag-migration-wizard-page-create-profile {
    .sw-select-result__result-item-text > span > i,
    .sw-single-select__selection-text > span > i {
        color: var(--color-text-secondary-default);
        font-size: var(--font-size-xs);
        font-style: normal;
    }

    .swag-migration-wizard-create-connection__install-profile-link-wrapper {
        grid-template-columns: 1fr var(--scale-size-24);
        width: 100%;
        display: grid;
    }

    .is--active .sw-icon {
        color: var(--color-icon-brand-default);
    }

    .sw-select-result__result-item-text {
        width: 100%;
    }
}
