{% block swag_migration_wizard_page_create_profile %}
    <div class="swag-migration-wizard swag-migration-wizard-page-create-profile">
        {% block swag_migration_wizard_page_create_profile_content %}
            <div class="swag-migration-wizard__content" v-if="!isLoading">
                {% block swag_migration_wizard_page_create_profile_information %}
                    <div class="swag-migration-wizard__content-information">
                        {% block swag_migration_wizard_page_create_profile_content_information %}
                            <p class="swag-migration-wizard__description">
                                {{ $tc('swag-migration.wizard.pages.connectionCreate.contentInformation') }}
                            </p>
                        {% endblock %}
                    </div>
                {% endblock %}
                {% block swag_migration_wizard_page_create_profile_selection %}
                    <div class="swag-migration-wizard__form">
                        <sw-field type="select"
                                  :label="$tc('swag-migration.wizard.pages.connectionCreate.profileLabel')"
                                  :placeholder="$tc('swag-migration.wizard.pages.connectionCreate.profilePlaceholder')"
                                  v-model="selection.profile"
                                  @input="onSelectProfile"
                                  validation="required">
                            {% block swag_migration_wizard_page_create_profile_form_profile_field_options %}
                                <option slot="options" v-for="profile in profiles" :value="profile">{{ profile }}</option>
                            {% endblock %}
                        </sw-field>

                        <sw-field type="select"
                                  :label="$tc('swag-migration.wizard.pages.connectionCreate.gatewayLabel')"
                                  :placeholder="$tc('swag-migration.wizard.pages.connectionCreate.gatewayPlaceholder')"
                                  v-model="selection.gateway"
                                  @input="onSelectGateway"
                                  validation="required">
                            {% block swag_migration_wizard_page_create_profile_form_gateway_field_options %}
                                <option slot="options" v-for="gateway in gateways" :value="gateway">{{ gateway }}</option>
                            {% endblock %}
                        </sw-field>

                        <sw-field :label="$tc('swag-migration.wizard.pages.connectionCreate.connectionLabel')"
                                  :placeholder="$tc('swag-migration.wizard.pages.connectionCreate.connectionPlaceholder')"
                                  v-model="selection.connectionName"
                                  @input="onChangeConnectionName"
                                  validation="required"
                                  :tooltipText="$tc('swag-migration.wizard.pages.connectionCreate.connectionTooltip')">
                        </sw-field>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}