{% block sw_grid_body_slot_items %}
    <sw-grid-row :style="columnFlex"
                 :key="item.id"
                 :item="item"
                 :index="index"
                 @inline-edit-finish="onInlineEditFinish"
                 @inline-edit-start="onInlineEditStart"
                 :class="['sw-grid__row--' + index, { 'is--selected': isSelected(item.id) && !isDisabled(item), 'is--deleted': item.isDeleted, 'is--new': item.isLocal, 'is--disabled': isDisabled(item) }]">

        {% block sw_grid_body_item_selectable %}
            <div class="sw-grid-column" v-if="selectable">
                <div class="sw-grid__cell-content">
                    <sw-field type="checkbox"
                              :value="isSelected(item.id)"
                              @change="selectItem($event, item)"
                              :disabled="isDisabled(item)">
                    </sw-field>
                </div>
            </div>
        {% endblock %}

        <slot name="columns" :item="item">
            {% block sw_grid_slot_columns %}{% endblock %}
        </slot>
    </sw-grid-row>
{% endblock %}
