@import "~scss/variables";

.swag-migration-pause-screen {
    .swag-migration-pause-screen__content {
        text-align: center;
        max-width: 520px;
        margin: 0 auto 0 auto;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .swag-migration-pause-screen__icon-wrapper {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: $color-shopware-brand-50;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px auto;
    }

    h5.swag-migration-pause-screen__title {
        font-size: $font-size-large;
        font-weight: 600;
    }

    .swag-migration-pause-screen__content-message {
        font-size: $font-size-small;
        color: $color-gray-500;
    }

    .swag-migration-pause-screen__actions {
        margin-top: 24px;
    }
}
