.swag-migration-error-resolution-log-filter__popover {
    &-content-form {
        .mt-field {
            margin-bottom: var(--scale-size-20);
        }
    }

    &-content-reset {
        font-size: var(--font-size-xs);
        margin-bottom: var(--scale-size-12) !important;
    }
}
