{% block swag_migration_wizard_page_select_profile %}
    <div class="swag-migration-wizard-page-select-profile">

        {% block swag_migration_wizard_page_select_profile_content %}
            <div class="swag-migration-wizard__content">

                {% block swag_migration_wizard_page_select_profile_information %}
                    <div class="swag-migration-wizard__content-information">

                        {% block swag_migration_wizard_page_select_profile_description %}
                            <p class="swag-migration-wizard__description">
                                {{ $tc('swag-migration.wizard.pages.connectionSelect.contentInformation') }}
                            </p>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block swag_migration_wizard_page_select_profile_selection %}
                    <div class="swag-migration-wizard__form">
                        <sw-select-field
                                         v-model:value="selectedConnectionId"
                                         :options="connections"
                                         :label="$tc('swag-migration.wizard.pages.connectionSelect.connectionLabel')"
                                         :placeholder="$tc('swag-migration.wizard.pages.connectionSelect.connectionPlaceholder')"
                                         @update:value="onConnectionSelected"
                        />
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
