{% block swag_migration_wizard_page_select_profile %}
    <div class="swag-migration-wizard-page-select-profile">
        {% block swag_migration_wizard_page_select_profile_content %}
            <div class="swag-migration-wizard__content">
                {% block swag_migration_wizard_page_select_profile_information %}
                    <div class="content__information">
                        {% block swag_migration_wizard_page_select_profile_description %}
                            <p class="swag-migration-wizard__description">
                                {{ $tc('swag-migration.wizard.pages.connectionSelect.contentInformation') }}
                            </p>
                        {% endblock %}
                    </div>
                {% endblock %}
                {% block swag_migration_wizard_page_select_profile_selection %}
                    <div class="content__profileSelection">
                        <sw-select-field :options="connections"
                                         v-model="selectedConnectionId"
                                         @input="onConnectionSelected"
                                         :label="$tc('swag-migration.wizard.pages.connectionSelect.connectionLabel')"
                                         :placeholder="$tc('swag-migration.wizard.pages.connectionSelect.connectionPlaceholder')">
                        </sw-select-field>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}