@import "~scss/variables";

.swag-migration-data-selector {
    .swag-migration-index-data-selector__plugin-version {
        margin: 0;
    }

    .swag-migration-index-data-selector__tou {
        font-size: $font-size-small;
        display: block;
        margin: 20px 38px 20px 38px;
    }

    .swag-migration-index-data-selector__no-data {
        background-color: $color-gray-50;
        height: 230px;
        line-height: 230px;
        text-align: center;
        width: 100%;

        .swag-migration-index-data-selector__no-data-label {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.1px;
        }
    }
}
