{% block swag_migration_data_selector %}
    <div class="swag-migration-data-selector">
        <sw-card :title="$tc('swag-migration.index.selectDataCard.cardTitle')"
                 v-if="this.migrationUIStore.state.dataSelectionTableData.length > 0">
            {% block swag_migration_data_selector_grid %}
                <template #grid>
                    <sw-grid ref="tableDataGrid"
                             :items="uiDataSelectionTableData"
                             @sw-grid-select-item="onGridSelectItem"
                             @sw-grid-select-all="onGridSelectItem">
                        <template #columns="{ item }">
                            {% block swag_migration_data_selector_grid_column_data %}
                                <sw-grid-column flex="1fr" :label="$tc('swag-migration.index.selectDataCard.headers.name')">
                                    {{ $tc(item.snippet) }}
                                </sw-grid-column>

                                <sw-grid-column flex="1fr" :label="$tc('swag-migration.index.selectDataCard.headers.dataType')">
                                    {{ $tc('swag-migration.index.selectDataCard.dataTypes.' + item.dataType) }}
                                </sw-grid-column>

                                <sw-grid-column flex="1fr" :label="$tc('swag-migration.index.selectDataCard.headers.total')" align="right">
                                    {{ item.total }}

                                    <sw-help-text :text="getHelptext(item.entityTotals)" style="margin-left: 5px" v-if="showHelptext(item.entityTotals)">
                                    </sw-help-text>
                                </sw-grid-column>
                            {% endblock %}
                        </template>
                    </sw-grid>
                </template>
            {% endblock %}
        </sw-card>

        <sw-card class="swag-migration-data-selector" v-else>
            {% block swag_migration_data_selector_no_data %}
                <div class="swag-migration-index-data-selector__no-data">
                    <p class="swag-migration-index-data-selector__no-data-label">
                        {{ $tc('swag-migration.index.selectDataCard.noData') }}
                    </p>
                </div>
            {% endblock %}
        </sw-card>
    </div>
{% endblock %}