{% block swag_migration_history_detail %}
    <div class="swag-migration-history-detail">
        <sw-modal class="swag-migration-history-detail__modal"
                  size="800px"
                  v-if="showModal"
                  :title="$tc('swag-migration.history.contextMenu.details')"
                  :isLoading="isLoading"
                  @closeModal="onCloseModal">
            {% block swag_migration_history_detail_modal_content %}
                <div v-if="isLoading"
                     class="swag-migration-history-detail__loading-placeholder">
                </div>
                <swag-migration-history-detail-errors v-if="!isLoading"
                                                      :migrationRun="migrationRun">
                </swag-migration-history-detail-errors>
            {% endblock %}
        </sw-modal>
    </div>
{% endblock %}