@import "~scss/variables";

.swag-migration-shop-avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    background: $color-gray-500 no-repeat center center;
    background-size: cover;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-white;
    user-select: none;
}
