{% block swag_migration_shop_avatar %}
    <span class="swag-migration-shop-avatar"
          :style="avatarStyle"
          role="img"
          ref="shopAvatar">
        <slot></slot>
    </span>
{% endblock %}