@import "~scss/variables";

.swag-migration-history {
    .swag-migration-history__status-icon--finished {
        color: $color-emerald-500;
    }

    .swag-migration-history__status-icon--aborted {
        color: $color-crimson-500;
    }

    .swag-migration-history__status-icon--loading {
        color: $color-gray-500;
    }

    .swag-migration-history__no-data {
        background-color: $color-gray-50;
        height: 230px;
        line-height: 230px;
        text-align: center;
        width: 100%;

        .swag-migration-history__no-data-label {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.1px;
        }
    }
}

.swag-migration-history__run-clear-confirm-modal {
    .sw-modal__body {
        padding: 32px;
    }

    .swag-migration-history__run-clear-confirm-modal-content {
        text-align: center;
    }

    .swag-migration-history__run-clear-confirm-modal-content-hint {
        text-align: center;
        padding-top: 32px;
        font-weight: 600;
    }
}
