{% block swag_dot_navigation %}
    <div class="swag-dot-navigation">
        <template v-for="n in navCount">
            {% block swag_dot_navigation_indicator %}
                <span class="swag-dot-navigation__indicator" :class="{ 'is--active': (n-1) === navIndex }"></span>
            {% endblock %}
        </template>
    </div>
{% endblock %}