{% block swag_migration_result_screen %}
    <sw-card class="swag-migration-result-screen">
        {% block swag_migration_result_screen_content %}
            <div class="swag-migration-result-screen__content">
                <slot>
                    {% block swag_migration_result_screen_icon %}
                        <div class="swag-migration-result-screen__bubble">
                            <sw-icon size="36px" class="swag-migration-result-screen__icon" name="default-action-thumb-up" decorative></sw-icon>
                        </div>
                    {% endblock %}

                    {% block swag_migration_result_screen_title %}
                        <div class="swag-migration-result-screen__title">
                            {{ title }}
                        </div>
                        <div class="swag-migration-result-screen__caption">
                            {{ caption }}
                        </div>
                    {% endblock %}
                </slot>
            </div>
        {% endblock %}
    </sw-card>
{% endblock %}